.dropzoneBackdrop {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}