<template>
  <span ondragover={onDragOver}
        ondragleave={onDragLeave}
        ondrop={onDrop}>
    <div class={dragOverlayClass}>
      <span>{dropMessage}</span>
    </div>
    <slot></slot>
  </span>
</template>