<template>
    <lightning-button-menu alternative-text="Show menu" variant="border-filled"  menu-alignment="auto">
        <template for:each={row.actions} for:item="action">
            <lightning-menu-item
            icon-name={action.iconName}
            key={action.name}
            value={action.name}
            label={action.label}
            onclick={sendEventFromDataset} 
            data-event={action.event} 
            data-id={row.item.Id} ></lightning-menu-item>
        </template>
    </lightning-button-menu>
</template>