<template>
  <div class="slds-file slds-file_card">
    <figure>
      <a class="slds-file__crop" onclick={onEyeClick}>
        <img  if:true={thumbnail} src={thumbnail} alt="Description of the image"/>
        <lightning-icon icon-name={iconName} size="medium" ></lightning-icon>
      </a>
      <figcaption class="slds-file__title slds-file__title_card slds-file-has-actions">
        <div class="slds-media slds-media_small slds-media_center">
          <div class="slds-media__figure slds-line-height_reset">
            <lightning-icon if:false={hasIconImage} icon-name={iconName} size="x-small" ></lightning-icon>
            <img if:true={hasIconImage} src={iconImg} alt="Description of the image"/>
          </div>
          <div class="slds-media__body">
            <div class="slds-size_1-of-1">
              <p class="slds-truncate" title={name}>{ name }</p>
            </div>
          </div>
        </div>
      </figcaption>
    </figure>
    <div class="slds-file__actions-menu">
      <div class="slds-button-group" role="group">
        <a href={downloadUrl} if:true={downloadUrl} target="_blank">
          <lightning-button-icon icon-name="utility:download" variant="bare"></lightning-button-icon>
        </a>
      </div>
    </div>
  </div>
</template>