.tile-content + .tile-content c-om-datatable-cell::before {
    content: " · ";
    padding-left: 2px;
    padding-right: 2px;
}
.tile-content + .tile-content c-om-datatable-cell {
    display: flex;
}