<template>
    <article class="slds-tile slds-media">
        <div class="slds-media__figure">
          <lightning-icon icon-name={iconName}></lightning-icon>
        </div>
        <div class="slds-media__body">
          <h3 class="slds-tile__title slds-truncate" title="Salesforce UX">
            <a>
                <template for:each={titleColumns} for:item="column" for:index="iCol">
                    <span key={column.key} data-column={column.key} if:false={column.hidden}>
                        <c-om-datatable-cell
                            data-col-key={column.key}
                            data-col-index={iCol}
                            row={row}
                            column={column}
                            event-method={eventMethod}
                            exporting={exporting}
                            col-index={iCol}
                            in-tile>
                        </c-om-datatable-cell>
                    </span>
                </template>
            </a>
          </h3>
          
          <div class="slds-tile__detail slds-grid">
            <template for:each={subtitleColumns} for:item="column" for:index="iCol">
                <span key={column.key} data-column={column.key} if:false={column.hidden} class="slds-col slds-grow-none tile-content">
                    <c-om-datatable-cell
                        data-col-key={column.key}
                        data-col-index={iCol}
                        row={row}
                        column={column}
                        event-method={eventMethod}
                        exporting={exporting}
                        col-index={iCol}
                        in-tile>
                    </c-om-datatable-cell>
                </span>
            </template>
            <!--<dl class="slds-list_horizontal slds-wrap">
              <dt class="slds-item_label slds-text-color_weak slds-truncate" title="First Label">First Label:</dt>
              <dd class="slds-item_detail slds-truncate" title="Description for first label">Description for first label</dd>
              <dt class="slds-item_label slds-text-color_weak slds-truncate" title="Second Label">Second Label:</dt>
              <dd class="slds-item_detail slds-truncate" title="Description for second label">Description for second label</dd>
            </dl>-->
          </div>
        </div>
        <div if:true={hasTypeActions} class="slds-m-around_xx-small">
            <c-om-datatable-cell
                data-col-key={actionColumn.key}
                row={row}
                column={actionColumn}
                exporting={exporting}
                in-tile>
            </c-om-datatable-cell>
          </div>
      </article>
</template>