<template>
    <div if:false={spinner}>
        <div if:true={hayErrores}>
            <div style="font-weight: bold; text-align: center; font-size: 130%; width: 100%; margin-top: 2%; height: 4%;">
                {error}
            </div>
        </div>
        <div if:false={hayErrores}>
            <div style="font-weight: bold; text-align: center; font-size: 130%; width: 100%; margin-top: 2%; height: 4%;">
                Estado actualizado correctamente.
            </div>
        </div>
    </div>
    <div if:true={spinner}>
        <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
    </div>

    
</template>