<!--
  @File Name          : omRenderIf.html
  @Description        : 
  @Author             : dcastellon@omegacrmconsulting.com && rgago@omegacrmconsulting.com
  @Group              : 
  @Last Modified By   : dcastellon@omegacrmconsulting.com
  @Last Modified On   : 13/11/2019 12:43:19
  @Modification Log   : 
  Ver       Date            Author      		    Modification
  1.0    13/11/2019   dcastellon@omegacrmconsulting.com && rgago@omegacrmconsulting.com     Initial Version
-->
<template>
    <div class={renderClass}>
        <slot></slot>
    </div>    
</template>