<template>
    <div>
        <div role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class={modalClass} onclick={closeModalOutside} data-where="clickModal">
            <div class="slds-modal__container" style={containerStyle} data-where="clickModal">
                <template if:false={hideHeader}>
                    <header class="slds-modal__header">
                        <template if:false={hideCloseButton}>
                            <button class="slds-button slds-button--icon-inverse slds-modal__close" onclick={closeIt}>
                                <lightning-icon icon-name="utility:close" size="small" variant="bare"></lightning-icon>
                                <span class="slds-assistive-text">Close</span>
                            </button>
                        </template>
                        <h1 class="modal-header">{headerLabel}</h1>
                    </header>
                </template>
                <div class="slds-modal__content slds-p-around_medium" style={bodyStyle} id="modal-content-id-1">
                    <slot name="body"></slot>
                    <slot></slot>
                </div>
                <template if:false={hideFooter}>
                    <footer class="slds-modal__footer">
                        <slot name="footer"></slot>
                        <template if:false={hideFooterButtons}>
                            <template if:false={hideCancelButton}>
                                <button class="slds-button slds-button_neutral" disabled={disabledCancelButton} onclick={cancelIt}>{cancelLabel}</button>
                            </template>
                            <template if:false={hideSaveButton}>
                                <button class="slds-button slds-button_brand" disabled={disabledSaveButton} onclick={saveIt}>{saveLabel}</button>
                            </template>
                        </template>
                    </footer>
                </template>
            </div>
        </div>
        <div class="slds-backdrop slds-backdrop_open om-fullscreen-backdrop"></div>
    </div>
</template>