<template>
  <div>
    <div if:false={hasErrors}>
      <div if:true={initialized}>
        <c-om-google-drive-explorer
  
          allow-folder-creation={settings.OM_Allow_folder_creation__c}
          allow-navigation={settings.OM_Allow_navigation__c}
          allow-uploads={settings.OM_Allow_upload_files__c}
          allow-edition={settings.OM_Allow_edit__c}
          allow-deletion={settings.OM_Allow_deletion__c}
          allow-search={settings.OM_Allow_search__c}
          allow-filters={settings.OM_Allow_filters__c}
          allow-selection={settings.OM_Allow_selection__c}
          allow-tagging={settings.OM_Allow_tagging__c}
          allow-ai-suggestions={settings.OM_Allow_AI_suggestions__c}
          
          action-on-click={settings.OM_Action_file_click__c}

          disable-sign-out={disableSignOut}
          display-mode={displayMode}
          global-search={globalSearch}

          initial-folder-id={settings.OM_Initial_folder_id__c}
          
          provider-api={providerImplementation}
          user-access={userAccess}
          
          base-columns={baseColumnNames}
          columns={customColumns}
          
          custom-app-properties={customAppProperties}
  
          ai-bucket-name={settings.OM_GCS_bucket_name__c}
          ai-nlp-salience={settings.OM_NLP_salience__c}
          ai-min-suggestions=10
          lang-finder={langFinder}  
          file-decorator={fileDecorator}
  
          onusercredentials={onProviderCredentials}
          onsignout={onProviderSignOut}
          onopenfile={onOpenFile}
          onfiles={onDriveFiles}
          onupdatefile={onFileUpdated}
          ondeletefile={onFileDeleted}
          onuploadfile={onFileUploaded}
          onselection={onDriveSelection}
          onfilters={onDriveFilters}
          onaisuggestions={onDriveAiSuggestions}
          onerror={onDriveError}>

          <span slot="actions-left">
            <slot name="actions-left"></slot>
          </span>
          <span slot="actions-right">
            <slot name="actions-right"></slot>
          </span>

  
          <!-- <lightning-menu-item slot="options" value="editMassive" label="Custom action 1"></lightning-menu-item>
          <lightning-menu-item slot="options" value="loadCSV" label="Custom action 2"></lightning-menu-item> -->
  
          <!-- <div slot="fileinfo">
            <lightning-input type="text" if:true={fileOpened} value={currentFile.description} label="Mi custom input"></lightning-input>
          </div> -->
  
        </c-om-google-drive-explorer> 
      </div>
      <div if:false={initialized}>
        <div class="spinnerHolder">
          <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
        </div>
      </div>
    </div>
    <div if:true={hasErrors}>
      <c-om-alert message={errors.message} icon-name="utility:error" level="error" texture></c-om-alert>
    </div>
  </div>
</template>