.suggestedTag {
  display: inline-block;
}
.previewFrame {
  border: 0;
  width: 100%;
  min-height: 60vh;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
}
.GoogleDrive.previewFrame {
  top: 50px;
  height: calc(100vh - 50px);
}

.previewFrameHeader {
  border: 0;
  z-index: 9999;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0;
  height: 50px;
  background-color: var(--lwc-brandAccessible, white);
  color: white;
}
.spinnerHolder {
  position: relative;
  display: inline-block;
  height: 80px;
  width: 100%;
}

.explorer-logo {
  width: 25px;
}

.filters-show {
  animation: slide-in 1s forwards;
  max-width: 20rem;
}

.filters-hide {
  animation: slide-out 1s forwards;
  max-width: 20rem;
}

.search-show {
  animation: slide-in 1s forwards;
  -webkit-animation: slide-in 1s forwards;
}

.search-hide {
  animation: slide-out 1s forwards;
  -webkit-animation: slide-out 1s forwards;
}

@keyframes slide-in {
  0% {
    width: 0px;
    opacity: 0;
    visibility: 'hidden';
    /*transform: translateX(100%);*/
  }
  100% {
    width: 100%;
    /*transform: translateX(0%);*/
    opacity: 1;
    visibility: 'visible';
  }
}

@keyframes slide-out {
  0% {
    width: 100%;
    /*transform: translateX(0%);*/
    opacity: 1;
    visibility: 'visible';
  }
  100% {
    width: 0px;
    opacity: 0;
    visibility: 'hidden';
    /*transform: translateX(100%);*/
  }
}

:host {
  --lwc-widthToggle: auto;
  --lwc-heightToggle: 1rem;
  --lwc-squareToggleSlider: 0.75rem;
  --sds-c-checkbox-toggle-mark-color-foreground: transparent;
}