<!-- sldsValidatorIgnore -->
<template>
  <lightning-card title="" variant="narrow" >
    <div slot="title">
      <div class="slds-grid slds-wrap">
        <div>
          <img src={explorerLogo} class="explorer-logo"> 
        </div>

        <div class="slds-var-p-left_x-small">
          <h3>{explorerTitle}</h3>
        </div>
      </div>
    </div>
    <div slot="actions" class="slds-grid slds-grid_vertical-align-center slds-grid_align-end" style="max-height: 40px">

        <slot name="actions-left"></slot>

        <div class={searchClass} if:true={allowSearch}>
          <lightning-input data-id="searchInput" type="search" placeholder={labels.omSearch} variant="label-hidden" value={filters.search} name="search" onchange={onFilterValueChange} oncommit={onSearchCommit} ></lightning-input>
        </div>
        <lightning-button-group class="slds-var-m-left_xx-small" if:true={isSignedIn}>
            <input if:true={allowUploads} type="file" multiple data-id="hiddenInputFile" onchange={onDroppedFile} class="slds-hide"></input>
            <lightning-button-icon if:true={allowSearch} variant={searchButtonVariant} icon-name="utility:search" onclick={toggleSearch} tooltip={labels.omSearch}> </lightning-button-icon>
            <lightning-button-icon if:true={allowUploads} icon-name="utility:upload" onclick={uploadViaButton} tooltip={labels.omExplorerUpload}> </lightning-button-icon>
            <lightning-button-icon if:true={allowFilters} variant={filterButtonVariant} icon-name="utility:filterList" onclick={toggleFilters}  tooltip={labels.omExplorerFilters}> </lightning-button-icon>
            <lightning-button-menu if:true={showExplorerOptions} alternative-text="Show menu" variant="border-filled" icon-name="utility:settings" menu-alignment="right">
              <lightning-menu-item if:true={allowFolderCreation} icon-name="utility:open_folder" onclick={openFolderModal} label={labels.omExplorerCreateFolder}> </lightning-menu-item>
              <template if:true={allowSelection}>  
                <lightning-menu-item if:true={allowEdition} value="editMassive" label={labels.omExplorerEditMassive} onclick={openMassiveModal}></lightning-menu-item>
              </template>
              <!-- <lightning-menu-item value="loadCSV" label="Load CSV"></lightning-menu-item>  -->
              <slot name="options" onslotchange={handleOptionsSlotChange}></slot>
            </lightning-button-menu>
            <lightning-button-icon variant="border-filled" icon-name="utility:help" onclick={openHelpModal} tooltip={labels.omExplorerHelp}> </lightning-button-icon>

          <lightning-button-icon variant="brand" icon-name="utility:refresh" onclick={refreshPage} if:true={isSignedIn} tooltip={labels.omExplorerRefresh}></lightning-button-icon>

        </lightning-button-group>

        <lightning-button-group class="slds-var-m-left_xx-small">
          <lightning-button-icon icon-name="utility:chevronleft" onclick={onPrevPage} disabled={disablePrevious}></lightning-button-icon>
          <lightning-button-icon icon-name="utility:chevronright" onclick={onNextPage} disabled={disableNext}></lightning-button-icon>
        </lightning-button-group>

        <lightning-button-group class="slds-var-m-left_xx-small slds-medium-show">
          <lightning-button label="Sign In" icon-name="utility:open" onclick={signIn} if:false={isSignedIn}></lightning-button>
          <template if:false={disableSignOut}>
            <lightning-button variant="brand" label="Sign Out" icon-name="utility:logout" onclick={signOut} if:true={isSignedIn} ></lightning-button>
          </template>
        </lightning-button-group>

        <lightning-button-group class="slds-var-m-left_xx-small slds-hide_medium slds-hide_large slds-hide_x-large">
          <lightning-button-icon icon-name="utility:open" onclick={signIn} if:false={isSignedIn}></lightning-button-icon>
          <template if:false={disableSignOut}>
            <lightning-button-icon variant="brand" icon-name="utility:logout" onclick={signOut} if:true={isSignedIn}></lightning-button-icon>
          </template>
        </lightning-button-group>

        <slot name="actions-right"></slot>
    </div>
    
    <!--<template if:false={status.working}>-->
      <div class="slds-grid listViewContainer safari-workaround">
        <div class="slds-col slds-no-space">
          <!-- <lightning-datatable columns={columns} data={files} key-field="id"></lightning-datatable> -->
          <c-om-dropzone onfiles={onDroppedFile}>
            <c-om-datatable
              unique-field="id"
              row-actions={rowActions}
              resizable
              default-view={displayMode}
              hide-column-actions
              hide-paginator
              rows-per-page="2"
              selectable={allowSelection}
              multiselectable={allowSelection}
              columns={columns}
              delegate-sort
              rows={files}
              list-icon={getListIcon}
              is-loading={status.working}
              onsort={handleSort}
              onrowaction={handleRowActions}
              onfileclick={onFileClick}
              onselection={onSelectItems}>
                <div slot="header" if:true={allowNavigation} class="slds-col slds-size_1-of-1 slds-var-p-left_x-small slds-var-p-bottom_xx-small slds-grid">
                  <ul class="slds-list_horizontal slds-has-dividers_left">
                    <li class="slds-item" for:each={filters.pathItems} for:item="pathItem" key={pathItem.id}>
                      <lightning-icon icon-name="doctype:folder" size="x-small"></lightning-icon> &nbsp;
                      <a label={pathItem.label} onclick={onClickFolderPath} data-id={pathItem.id} data-label={pathItem.label}> {pathItem.label} </a>
                    </li>
                  </ul>

                  <div class="slds-col_bump-left slds-grid slds-var-p-right_xx-small" >
                    <lightning-pill class="slds-var-m-left_xx-small" for:each={filtersWithValues} for:item="filter" key={filter.key} label={filter.label} data-key={filter.key} data-custom={filter.isCustomProp} onremove={clearFilter}></lightning-pill>
                  </div>
          
                </div>
            </c-om-datatable>

          </c-om-dropzone>
        </div>
        <div class={filterPanelClass}>
          <div class="slds-panel slds-size_medium slds-panel_docked slds-panel_docked-right slds-grid slds-grid_vertical forceFilterPanel slds-float_left">
            <div class="slds-panel__header panelHeader">
              <h2 class="slds-panel__header-title slds-text-heading_small slds-truncate">{labels.omExplorerFilters}</h2>
              <lightning-button-icon icon-name="utility:close" onclick={toggleFilters}></lightning-button-icon>
            </div>
            <div class="slds-col slds-scrollable_y">
              <div class="slds-panel__body panelBody slds-grid slds-wrap">
                <h3 class="slds-section__title slds-theme_shade slds-col slds-size_1-of-1">
                  <img class="explorer-logo slds-var-m-left_small" src={explorerLogo}> &nbsp;&nbsp;{explorerTitle} {labels.omExplorerFilters}
                </h3>
                <div class="slds-col slds-size_1-of-2">
                  <lightning-combobox name="mimeType" label={filters.mimeType.label} value={filters.mimeType.value} placeholder="-- All --" options={availableMimeTypes} onchange={onFilterValueChange}></lightning-combobox>
                </div>
                <div class="slds-col slds-size_1-of-2" if:true={isGoogleDrive} >
                  <lightning-combobox  name="scope" label={filters.scope.label}  value={filters.scope.value} placeholder="-- All --" options={availableScopes} onchange={onFilterValueChange}></lightning-combobox>
                </div>
                <div class="slds-col slds-size_1-of-1 slds-grid slds-grid_vertical-align-end">
                  <lightning-input type="date" class="slds-col slds-size_1-of-2" value={filters.createdTime.value} placeholder="From" label={filters.createdTime.label} name="createdTime" onchange={onFilterValueChange}></lightning-input>
                  <lightning-input type="date" class="slds-col slds-size_1-of-2 slds-var-p-left_x-small" value={filters.createdTimeTo.value} placeholder="To" name="createdTimeTo" onchange={onFilterValueChange}></lightning-input>
                </div>
                <div class="slds-col slds-size_1-of-1 slds-grid slds-grid_vertical-align-end">
                  <lightning-input type="date" class="slds-col slds-size_1-of-2" value={filters.modifiedTime.value} placeholder="From" label={filters.modifiedTime.label} name="modifiedTime" onchange={onFilterValueChange}></lightning-input>
                  <lightning-input type="date" class="slds-col slds-size_1-of-2 slds-var-p-left_x-small" value={filters.modifiedTimeTo.value} placeholder="To" name="modifiedTimeTo" onchange={onFilterValueChange}></lightning-input>
                </div>
                <div class="slds-grid slds-col slds-size_1-of-2">
                  <lightning-input type="checkbox" value={filters.trashed.value} label={filters.trashed.label} name="trashed" onchange={onFilterValueChange}></lightning-input>
                  <lightning-input if:true={isGoogleDrive} type="checkbox" value={filters.starred.value} label={filters.starred.label} name="starred" onchange={onFilterValueChange}></lightning-input>
                </div>

                <h3 class="slds-section__title slds-theme_shade slds-col slds-size_1-of-1 slds-var-m-top_small" if:true={hasCustomAppProperties}>
                  <img class="explorer-logo slds-var-m-left_small" src="https://firebasestorage.googleapis.com/v0/b/drive-assets.google.com.a.appspot.com/o/Asset%20-%20Drive%20Icon%20Monochromatic512.png?alt=media" width="30px" height="30px" id="gDriveLogo" />
                  &nbsp;&nbsp;{labels.omExplorerCustomProperties} 
                </h3>

                <div class="slds-col slds-has-flexi-truncate slds-var-p-around_xx-small" if:true={hasCustomAppProperties} >
                  <template for:each={customAppProperties} for:item="prop">
                    <div class="slds-col slds-size_1-of-1 slds-var-p-around_xx-small" key={prop.key} if:true={prop.filterable}>
                      <c-om-input 
                        sobject="OM_Content__c"
                        field={prop.mappedTo}
                        record={filters.props}
                        property={prop.key}
                        onchange={onChangeFiltersAppProperty}
                        data-property={prop.key}
                      >
                      </c-om-input>
                    </div>
                  </template>
                </div>
      
                <div class="slds-grid slds-var-p-around_xx-small slds-col slds-size_1-of-1">
                  <lightning-button variant="brand" label={labels.omExplorerApply} title={labels.omExplorerApply} icon-name="utility:check" class="slds-var-m-left_x-small" onclick={applyFilters}></lightning-button>
                  <lightning-button label={labels.omExplorerClearFilters} title={labels.omExplorerClearFilters} icon-name="utility:clear" class="slds-var-m-left_x-small" onclick={clearFilters}></lightning-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!--</template>-->
    <!-- </p> -->
    <!--<p slot="footer">
      Signed-in {isSignedIn} | Bucket name {aiBucketName} | GoogleDriveExplorer (version 1.1) | Intial folder {initialFolderId}
    </p>-->
  </lightning-card>

  <c-om-modal 
    header-label={labels.omExplorerFileInfo}
    onclose={closeFileModal}
    oncancel={closeFileModal}
    onsave={onSaveInfoModal}
    disabled-save-button={disableEditionInputs}
    container-style="width: 90vw; max-width: 95vw"
    body-style="overflow: unset"
    if:true={modals.fileEdit}>

    <span slot="body">
      <template if:false={loadingFile}>
        <div class="slds-grid slds-wrap">
          <div class="slds-col slds-size_1-of-3 ">
            <!-- mime-type={currentFile.mimeType}  -->
            <c-om-file-preview 
              if:true={currentFile}
              name={currentFile.name} 
              thumbnail={currentFile._thumbnail}
              icon-name={currentFile._sldsIcon}
              download-url={currentFile._downloadUrl}
              onpreviewclick={openPreview}>
            </c-om-file-preview>          
          </div>
          <div class="slds-form slds-col slds-size_2-of-3 slds-grid slds-wrap slds-var-p-left_small">
            <div class="slds-col slds-size_1-of-2 slds-var-p-around_xx-small">
              <lightning-input disabled={disableEditionInputs} value={currentFile.name} type="text" placeholder="" label={labels.omExplorerColumnName} name="name" onchange={onChangeCurrentFileInput}></lightning-input>
            </div>
            <template if:true={hasCustomAppProperties}>
              <template for:each={customAppProperties} for:item="prop">
                <div class="slds-col slds-size_1-of-2 slds-var-p-around_xx-small" key={prop.key} if:true={prop.editable}>
                  <c-om-input 
                    sobject="OM_Content__c"
                    field={prop.mappedTo}
                    record={currentFile.appProperties}
                    property={prop.key}
                    onchange={onChangeCurrentFileAppProperty}
                    data-property={prop.key}
                    disabled={disableEditionInputs}
                  >
                  </c-om-input>
                </div>
              </template>
            </template>
  
            <slot name="fileinfo"></slot>
          </div>
        </div>
        <div if:true={modals.tags}>
          <div class="slds-section slds-is-open">
            <h3 class="slds-section__title slds-section__title-action">
              <span class="slds-truncate" title="Section Title">{labels.omExplorerColumnTags}</span>
            </h3>
            <div aria-hidden="false" class="slds-section__content">
              <c-om-tagger full-text={currentFile._tags} show-button onaddtag={addTagToFile} onremovetag={removeTag}></c-om-tagger>
            </div>
          </div>
          <div class="slds-section slds-is-open">
            <h3 class="slds-section__title slds-section__title-action">
              <span class="slds-truncate" title={labels.omExplorerIAResults}>{labels.omExplorerIAResults}</span>
            </h3>
            <div aria-hidden="false" class="slds-section__content">
              <div if:true={waitingForResults}>
                {labels.omExplorerIAWaiting}
                <div class="spinnerHolder">
                  <lightning-spinner size="small"></lightning-spinner>
                </div>
              </div>
              <div if:true={uploadingToStorage}>
                {labels.omExplorerIAMoving}
                <lightning-progress-bar value={uploadingToStorageProgress} size="large"></lightning-progress-bar>
              </div>
              <div>
                <div for:each={suggestedTagsFlat} for:item="sugg" key={sugg.name} class="suggestedTag slds-var-p-right_xx-small slds-var-p-bottom_xx-small">
                  <lightning-button if:true={sugg.selected} key={sugg.name} label={sugg.name} data-name={sugg.name} title="Toggle selection" variant="destructive" icon-name="utility:check"  onclick={toggleSuggestedTagSelection}> </lightning-button>
                  <lightning-button if:false={sugg.selected} key={sugg.name} label={sugg.name} data-name={sugg.name} title="Toggle selection" icon-name="utility:add"  onclick={toggleSuggestedTagSelection}> </lightning-button>
                </div>
              </div>
              <div>
                <lightning-button disabled={hasNotSuggestedTagsSelected} label={labels.omExplorerTagsAddSelected} title="Toggle selection" variant="brand-outline" icon-name="utility:add" onclick={addSelectedSuggestedTagsToFile}> </lightning-button>
              </div>
            </div>
          </div>
        </div>
      </template>
      <div if:true={loadingFile} class="spinnerHolder">
        <lightning-spinner></lightning-spinner>
      </div>

    </span>
    <span slot="footer" if:false={loadingFile}>
      <span class="slds-float_left slds-var-p-top_small slds-text-color_weak slds-text-body_small" style="opacity: 0.2">{currentFile.id}</span>
      <lightning-button if:true={allowTagging} class="slds-var-m-right_small" variant="brand" onclick={toggleTagsModal} label={labels.omExplorerTagsManage}></lightning-button>
    </span>
  </c-om-modal>

  <c-om-modal header-label={labels.omExplorerPreview}
    hide-footer-buttons
    onclose={closeFilePreviewModal}
    container-style="width: 90vw; max-width: 95vw"
    if:true={modals.filePreview}>
    <span slot="body">
        <div class="slds-is-relative slds-var-p-around_medium" if:true={loadingPreview}>
          <lightning-spinner  ></lightning-spinner>
        </div>
        <div  if:true={loadingPreview}>
          {labels.omExplorerPreviewLoading}
        </div>
        <template if:false={loadingPreview}>

          <div if:false={showPreviewAsThumbnail} class="slds-grid slds-grid_vertical-align-center previewFrameHeader">
            <div class="slds-var-p-left_small slds-var-p-right_small">
              <img src={explorerLogo} class="explorer-logo"/>
            </div>
            <div class="">
              <lightning-icon icon-name={currentFile._sldsIcon} size="small"></lightning-icon> {currentFile.name}
            </div>
            <div class="slds-col_bump-left slds-var-p-right_small">
              <a href={currentFile._downloadUrl} target="_blank" class="slds-button slds-button_neutral slds-var-m-right_x-small"> {labels.omExplorerDownload} </a>
              <lightning-button onclick={toggleFilePreviewModal} label={labels.omExplorerClose}> </lightning-button >
            </div>
          </div>
          
          <iframe if:false={showPreviewAsThumbnail} src={currentFilePreview} class={previewFrameClass}></iframe>

          <c-om-file-preview 
            if:true={showPreviewAsThumbnail}
            name={currentFile.name} 
            thumbnail={currentFile._thumbnail}
            icon-name={currentFile._sldsIcon}
            download-url={currentFile._downloadUrl}>
          </c-om-file-preview>
        </template>
    </span>
  </c-om-modal>

  <c-om-modal header-label={labels.omExplorerEditMassive} onclose={closeMassiveModal} oncancel={closeMassiveModal} onsave={onSaveMassiveModal} if:true={modals.massiveEdit}>
    <span slot="body">
      <div if:true={hasFilesSelected}>
        <c-om-alert level="info" icon-name="utility:info" texture>
          {labels.omExplorerSelectedFiles} {filesSelected.length}
        </c-om-alert>
        
        <div class=" slds-grid slds-wrap">
          <div class="slds-form slds-col slds-size_2-of-3 slds-grid slds-wrap slds-var-p-left_small" if:true={hasCustomAppProperties}>
            <template for:each={customAppProperties} for:item="prop">
              <div class="slds-col slds-size_1-of-2 slds-var-p-around_xx-small" key={prop.key}>
                <c-om-input 
                  sobject="OM_Content__c"
                  field={prop.mappedTo}
                  record={massiveData.appProperties}
                  property={prop.key}
                  onchange={onChangeMassiveAppProperty}
                  data-property={prop.key}
                >
                </c-om-input>
              </div>
            </template>
          </div>
        </div>
      </div>

      <div if:false={hasFilesSelected}>
        <c-om-alert level="warning" icon-name="utility:warning" message={labels.omExplorerSelectedFilesNo} texture></c-om-alert>
      </div>
    </span>
  </c-om-modal>

  <c-om-modal header-label={labels.omExplorerHelp} size="large" onclose={closeHelpModal} if:true={modals.help} hide-footer>
    <span slot="body">
      <div class="slds-grid slds-wrap" if:true={allowUploads}>
        {labels.omHelpUpload}
      </div>
      <div class="slds-grid slds-wrap" if:true={hasIAEnabled}>
        <div class="slds-col slds-size_3-of-3 slds-var-p-left_small slds-var-m-bottom_small slds-text-title_caps">
          {labels.omHelpAiTypes}
        </div>
        <div class="slds-col slds-size_3-of-3 slds-var-p-left_small slds-section__title slds-theme_shade slds-var-m-top_x-small">
          <lightning-icon size="x-small" icon-name="doctype:image" alternative-text="Images" variant="success" title="Image files"></lightning-icon> &nbsp; Image files
        </div>
        <div for:each={iaImageTypes} for:item="type" key={type.mime} class="slds-col slds-size_1-of-3 slds-large-size_2-of-12 slds-small-size_1-of-1">
          <span> {type.label} </span>
        </div>
        <div class="slds-col slds-size_3-of-3 slds-var-p-left_small slds-section__title slds-theme_shade slds-var-m-top_x-small">
          <lightning-icon size="x-small" icon-name="doctype:box_notes" alternative-text="Images" variant="success" title="Text documents"></lightning-icon> &nbsp; Text documents
        </div>
        <div for:each={iaTextTypes} for:item="type" key={type.mime} class="slds-col slds-size_1-of-3 slds-large-size_2-of-12 slds-small-size_1-of-1">
          <span> {type.label} </span>
        </div>
        <div class="slds-col slds-size_3-of-3 slds-var-p-left_small slds-section__title slds-theme_shade slds-var-m-top_x-small">
          <lightning-icon size="x-small" icon-name="doctype:audio" alternative-text="Images" variant="success" title="Text documents"></lightning-icon> &nbsp; Audio files
        </div>
        <div for:each={iaAudioTypes} for:item="type" key={type.mime} class="slds-col slds-size_1-of-3 slds-large-size_2-of-12 slds-small-size_1-of-1">
          <span> {type.label} </span>
        </div>
        <div class="slds-col slds-size_3-of-3 slds-var-p-left_small slds-section__title slds-theme_shade slds-var-m-top_x-small">
          <lightning-icon size="x-small" icon-name="doctype:video" alternative-text="Images" variant="success" title="Video files"></lightning-icon> &nbsp; Video files
        </div>
        <div for:each={iaVideoTypes} for:item="type" key={type.mime} class="slds-col slds-size_1-of-3 slds-large-size_2-of-12 slds-small-size_1-of-1">
          <span> {type.label} </span>
        </div>
        <div class="slds-col slds-size_3-of-3 slds-var-p-left_small slds-section__title slds-theme_shade slds-var-m-top_x-small">
          <lightning-icon size="x-small" icon-name="doctype:word" alternative-text="Images" variant="success" title="Text documents"></lightning-icon> &nbsp; Office documents
        </div>
        <div for:each={iaOfficeTypes} for:item="type" key={type.mime} class="slds-col slds-size_1-of-3 slds-large-size_2-of-12 slds-small-size_1-of-1">
          <span> {type.label} </span>
        </div>
        <div class="slds-col slds-size_3-of-3 slds-var-p-left_small slds-section__title slds-theme_shade slds-var-m-top_x-small">
          <lightning-icon size="x-small" icon-name="doctype:unknown" alternative-text="Images" variant="success" title="Text documents"></lightning-icon> &nbsp; Other files
        </div>
        <div for:each={iaOtherTypes} for:item="type" key={type.mime} class="slds-col slds-size_1-of-3 slds-large-size_2-of-12 slds-small-size_1-of-1">
          <span> {type.label} </span>
        </div>
      </div>
    </span>
  </c-om-modal>

  <c-om-modal header-label={labels.omExplorerCreateFolder} size="small" onclose={closeFolderModal} onsave={onSaveCreateFolder} save-label={labels.omExplorerCreateFolder} if:true={modals.folderCreate}>
    <span slot="body">
      <lightning-input type="text" value={newFolderData.name} data-property="name" onchange={onChangeNewFolderProperty} label={labels.omExplorerColumnName}></lightning-input>
    </span>
  </c-om-modal>

  <c-om-modal header-label={labels.omExplorerDeleteConfirm} size="small" onclose={closeDeletionModal} onsave={saveDeletionModal} save-label={labels.omExplorerActionDelete} if:true={modals.delete}>
    <span slot="body">
      <c-om-alert level="warning" icon-name="utility:warning" message={labels.omExplorerDeleteConfirmMsg} texture></c-om-alert> 
    </span>
  </c-om-modal>

  <c-om-docked-composer if:true={uploadStatus.show} title={labels.omExplorerUpload} icon-name="utility:upload">
    <template for:each={uploadStatus.files} for:item="fileStatus">
      <div class="slds-var-p-around_medium" key={fileStatus.key}>
        <div class="slds-grid slds-grid_align-spread slds-var-p-bottom_x-small">
            <span>{ fileStatus.name }</span>
            <span aria-hidden="true">
              <strong>{fileStatus.percent}%</strong>
            </span>
        </div>
        <lightning-progress-bar value={fileStatus.percent} size="large"></lightning-progress-bar>
      </div>
    </template>
  </c-om-docked-composer>
</template>