<!--
-->
<template>
    <div if:true={loading} class="spinner-holder">
        <lightning-spinner if:true={loading}></lightning-spinner>
    </div>
    <c-om-datatable
        if:false={loading}

        columns={objectColumns}
        rows={_records}
        multiselectable={multiselectable}
        selectable={selectable}
        selected-records={selectedRecords}
        clickable-columns={clickableColumns}
        show-search-input={showSearchInput}
        hide-paginator={hidePaginator}
        hide-number-buttons={hideNumberButtons}
        hide-control-buttons={hideControlButtons}
        fuzzy-search={fuzzySearch}
        search-only-in-columns={searchOnlyInColumns}
        unique-field="Id"
        row-class={rowClass}
        row-style={rowStyle}
        row-actions={rowActions}
        tooltip-info={tooltipInfo}
        datetime-format={datetimeFormat}
        search-term={searchTerm}
        resizable={resizable}

        onclickedcell={navigateToRecordViewPage}
        onselection={onrowselection}
        onrowaction={handleRowActions}
    ></c-om-datatable>
</template>