<template>
  <div>
    <div class="slds-var-m-around_medium">
      <lightning-input
        type="file"
        accept={accepts}
        label={inputLabel}
        onchange={openfileUpload}
      ></lightning-input>
    </div>
    <template if:true={hasFilesData}>
      <template for:each={filesData} for:item="fileData">
        <lightning-tile key={fileData.filename} label={fileData.filename} type="media">
          <div slot="media">
            <span if:true={fileData.result}>
              <span if:true={fileData.result.isPending}>
                <lightning-icon icon-name="utility:waits" size="x-small" variant="success"></lightning-icon>
              </span>
              <span if:false={fileData.result.isPending}>
                <span if:true={fileData.result.isUploading}>
                  <div class="spinnerWrapper">
                      <lightning-spinner alternative-text="Uploading" size="small"></lightning-spinner>
                  </div>
                </span>
                <span if:false={fileData.result.isUploading}>
                  <span if:true={fileData.result.isOk}>
                    <lightning-icon icon-name="utility:success" size="x-small" variant="success"></lightning-icon>
                  </span>
                  <span if:false={fileData.result.isOk}>
                    <lightning-icon icon-name="utility:error" size="x-small" variant="error"></lightning-icon>
                  </span>
                </span>
              </span>
            </span>
          </div>
          <p class="slds-truncate">
            { fileData.result.message }
          </p>
        </lightning-tile>
      </template>
    </template>
    <lightning-button
      if:true={multiple}
      variant="brand"
      label={uploadLabel}
      title="Submit"
      onclick={beginUpload}
      disabled={isUploading}
      class="slds-var-m-left_x-small"
    ></lightning-button>
  </div>
</template>