<template>
  <div>

    <audio data-id="audioElm" src={src}></audio>

    <div class="slds-box">
      <div class="slds-grid slds-wrap">

        <div class="slds-text-align_center">
          <lightning-button-group>
            <lightning-button-icon disabled={isPlaying} icon-name="utility:play" onclick={play}></lightning-button-icon>
            <lightning-button-icon disabled={isPaused} icon-name="utility:pause" onclick={pause}></lightning-button-icon>
            <lightning-button-icon disabled={isPaused} icon-name="utility:stop" onclick={stop}></lightning-button-icon>
          </lightning-button-group>

          <div class="slds-form-element">
            <div class="slds-form-element__control slds-grid">

              <lightning-icon if:true={muted} icon-name="utility:volume_off" size="x-small"></lightning-icon>
              <lightning-icon if:true={lowVolume} icon-name="utility:volume_low" size="x-small"></lightning-icon>
              <lightning-icon if:true={highVolume} icon-name="utility:volume_high" size="x-small"></lightning-icon>
              <div class="slds-slider">
                <input type="range" step="1" max="10" class="slds-slider__range" value={volume} onchange={handleVolumeChange}/>
              </div>
            </div>
          </div>
        </div>


        <div class="slds-col slds-p-left_small">

          <div class="slds-m-bottom_small">{currentDurationStr} / {durationStr}</div>

          <div class="slds-form-element">
            <div class="slds-form-element__control">
              <div class="slds-slider">
                <input type="range" step="1" max={duration} class="slds-slider__range" value={progress} onchange={handleProgressChange}/>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>