<template>
  <lightning-layout-item size="12">
    <div if:true={loading}>
      <div style="height:6rem;position:relative">
        <div class="slds-spinner_container">
          <div role="status" class="slds-spinner slds-spinner_medium slds-spinner_brand">
            <span class="slds-assistive-text">Loading</span>
            <div class="slds-spinner__dot-a"></div>
            <div class="slds-spinner__dot-b"></div>
          </div>
        </div>
      </div>
    </div>
    <div if:false={loading}>
      <!--Caso de Crear  -->
      <lightning-record-edit-form if:false={isViewMode} record-id={recordId} object-api-name={sobject}
        onsubmit={handleSubmit} onsuccess={handleSuccess}>

        <lightning-messages></lightning-messages>
        <template if:false={hideButtonHeader}>
          <lightning-button type="submit" label="Save"></lightning-button>
          <slot name="actionsHeader"></slot>
        </template>

        <div class="slds-grid slds-wrap slds-section" for:each={layoutSections} for:item="section" key={section.id}>
          <div class="slds-col slds-size_1-of-1" if:true={section.useHeading}>
            <h3 class="slds-section__title slds-theme_shade"> { section.heading } </h3>
          </div>
          <div class="slds-col slds-size_1-of-1 slds-grid slds-wrap" for:each={section.layoutRows} for:item="sectionRow"
            key={sectionRow._key}>
            <div class={sectionItem._class} for:each={sectionRow.layoutItems} for:item="sectionItem"
              key={sectionItem._key}>
              <template if:true={sectionItem._complexType}>
                <div class="slds-grid slds-wrap">
                  <div class="slds-col">
                    {sectionItem.label}
                  </div>
                  <div class="slds-col">
                    <span for:each={sectionItem.layoutComponents} for:item="lcompo" key={lcompo._key}>
                      <lightning-input-field field-name={lcompo.apiName} data-field={lcompo.apiName}
                        readonly={lcompo._readonly} variant="label-stacked"></lightning-input-field>
                    </span>
                  </div>
                </div>
              </template>
              <template if:false={sectionItem._complexType}>
                <span for:each={sectionItem.layoutComponents} for:item="lcompo" key={lcompo._key}>
                  <lightning-input-field field-name={lcompo.apiName} data-field={lcompo.apiName}
                    readonly={lcompo._readonly}></lightning-input-field>
                </span>
              </template>
            </div>
          </div>
        </div>
        <template if:true={showFooter}>
          <div class="slds-docked-form-footer">
            <button type="submit" class="slds-button slds-button_neutral" onclick={handleCancel}>Cancel</button>
            <button type="submit" class="slds-button slds-button_brand" disabled={saveDisabled}> Save</button>
            <slot name="actionsFooter"></slot>
          </div>
        </template>
      </lightning-record-edit-form>
      <!-- Caso solo ver-->
      <lightning-record-view-form if:true={isViewMode} record-id={recordId} object-api-name={sobject}
        onsubmit={handleSubmit} onsuccess={handleSuccess}>

        <lightning-messages></lightning-messages>
        <template if:false={hideButtonHeader}>
          <lightning-button type="submit" label="Save"></lightning-button>
          <slot name="actionsHeader"></slot>
        </template>

        <div class="slds-grid slds-wrap slds-section" for:each={layoutSectionsViewEdit} for:item="section"
          key={section.id}>
          <div class="slds-col slds-size_1-of-1" if:true={section.useHeading}>
            <h3 class="slds-section__title slds-theme_shade"> { section.heading } </h3>
          </div>
          <div class="slds-col slds-size_1-of-1 slds-grid slds-wrap" for:each={section.layoutRows} for:item="sectionRow"
            key={sectionRow._key}>
            <div class={sectionItem._class} for:each={sectionRow.layoutItems} for:item="sectionItem"
              key={sectionItem._key}>
              <template if:true={sectionItem._complexType}>
                <div class="slds-grid slds-wrap">
                  <div class="slds-col">
                    {sectionItem.label}
                  </div>
                  <div class="slds-col">
                    <span for:each={sectionItem.layoutComponents} for:item="lcompo" key={lcompo._key}>
                      <lightning-output-field field-name={lcompo.apiName} data-field={lcompo.apiName}
                        variant="label-stacked"></lightning-output-field>
                    </span>
                  </div>
                </div>
              </template>
              <template if:false={sectionItem._complexType}>
                <span for:each={sectionItem.layoutComponents} for:item="lcompo" key={lcompo._key}>
                  <lightning-output-field field-name={lcompo.apiName} data-field={lcompo.apiName}>
                  </lightning-output-field>
                </span>
              </template>
            </div>
          </div>
        </div>
        <template if:true={showFooter}>
          <div class="slds-docked-form-footer">
            <button type="submit" class="slds-button slds-button_neutral" onclick={handleCancel}>Cancel</button>
            <button type="submit" class="slds-button slds-button_brand" disabled={saveDisabled}> Save</button>
            <slot name="actionsFooter"></slot>
          </div>
        </template>
      </lightning-record-view-form>
      <!--Caso de tener que editar  -->
      <lightning-record-edit-form if:true={isEditMode} record-id={recordId} object-api-name={sobject}
        onsubmit={handleSubmit} onsuccess={handleSuccess}>

        <lightning-messages></lightning-messages>
        <template if:false={hideButtonHeader}>
          <lightning-button type="submit" label="Save"></lightning-button>
          <slot name="actionsHeader"></slot>
        </template>

        <div class="slds-grid slds-wrap slds-section" for:each={layoutSectionsViewEdit} for:item="section"
          key={section.id}>
          <div class="slds-col slds-size_1-of-1" if:true={section.useHeading}>
            <h3 class="slds-section__title slds-theme_shade"> { section.heading } </h3>
          </div>
          <div class="slds-col slds-size_1-of-1 slds-grid slds-wrap" for:each={section.layoutRows} for:item="sectionRow"
            key={sectionRow._key}>
            <div class={sectionItem._class} for:each={sectionRow.layoutItems} for:item="sectionItem"
              key={sectionItem._key}>
              <template if:true={sectionItem._complexType}>
                <div class="slds-grid slds-wrap">
                  <div class="slds-col">
                    {sectionItem.label}
                  </div>
                  <div class="slds-col">
                    <span for:each={sectionItem.layoutComponents} for:item="lcompo" key={lcompo._key}>
                      <lightning-input-field field-name={lcompo.apiName} data-field={lcompo.apiName}
                        readonly={lcompo._readonly} variant="label-stacked"></lightning-input-field>
                    </span>
                  </div>
                </div>
              </template>
              <template if:false={sectionItem._complexType}>
                <span for:each={sectionItem.layoutComponents} for:item="lcompo" key={lcompo._key}>
                  <lightning-input-field field-name={lcompo.apiName} data-field={lcompo.apiName}
                    readonly={lcompo._readonly}></lightning-input-field>
                </span>
              </template>
            </div>
          </div>
        </div>
        <template if:true={showFooter}>
          <div class="slds-docked-form-footer">
            <button type="submit" class="slds-button slds-button_neutral" onclick={handleCancel}>Cancel</button>
            <button type="submit" class="slds-button slds-button_brand" disabled={saveDisabled}> Save</button>
            <slot name="actionsFooter"></slot>
          </div>
        </template>
      </lightning-record-edit-form>
    </div>
  </lightning-layout-item>
</template>