<!--
  @File Name          : omRelatedList.html
  @Description        : 
  @Author             : dcastellon@omegacrmconsulting.com
  @Group              : 
  @Last Modified By   : David López <sdlopez@omegacrmconsulting.com>
  @Last Modified On   : 11-03-2020
  @Modification Log   : 
  Ver       Date            Author      		    Modification
  1.0    22/10/2019   dcastellon@omegacrmconsulting.com     Initial Version
-->
<template>
    <c-om-card icon={icon} card-label={cardLabel} count={rowsCount}>
        <span slot="header-button-group">
            <template if:true={showNewButton}>
                <button class="slds-button slds-button_neutral" onclick={newButtonClick}>{newLabel}</button>                
            </template>
        </span>
        <span slot="body">
            <template if:true={isListView}>
                <c-om-list-view 
                record-id={recordId}
                relation-field={relationField}
                object={sobject}
                fields={fields}
                label-list={labelList}
                filters={filters}
                show-search-input={showSearchInput}
                fuzzy-search={fuzzySearch}
                search-only-in-columns={searchOnlyInColumns}
                clickable-columns={clickableColumns}
                onclickedcell={navigateToRecordViewPage}
                row-class={rowClass}
                row-style={rowStyle}
                row-value={rowValue}
                listen-changes={listenChanges}
                onselection={onselection}
                datetime-format={datetimeFormat}
                search-term={searchTerm}
                truncate={truncate}
                platform-event={platformEvent}
                id-field-name={idFieldName}
                polling={polling}
                polling-interval={pollingInterval}
                html-fields={htmlFields}
            ></c-om-list-view>                
        </template>
        <template if:false={isListView}>
            <c-om-datatable
                unique-field="name"
                show-search-input={showSearchInput}
                fuzzy-search={fuzzySearch}
                search-only-in-columns={searchOnlyInColumns}
                selectable
                clickable-columns={clickableColumns}
                onclickedcell={navigateToRecordViewPage}
                row-class={rowClass}
                row-style={rowStyle}
                row-value={rowValue}
                onselection={onselection}
                datetime-format={datetimeFormat}
                search-term={searchTerm}
                truncate={truncate}
                ></c-om-datatable>
    </template>
</span>
</c-om-card>
</template>