<template>
  <span>
    <lightning-combobox 
      if:true={isPicklist}
      disabled={disabled}
      label={displayedLabel}
      value={value}
      placeholder={displayedLabel}
      options={picklistValues}
      onchange={onChangeCurrentFileInput} >
    </lightning-combobox>

    <lightning-input
      if:true={isInput}
      disabled={disabled}
      value={value}
      type={input.type}
      label={displayedLabel}
      name={property}
      onchange={onChangeCurrentFileInput}>
    </lightning-input>


    <lightning-input-rich-text
      if:true={isRichText}
      disabled={disabled}
      value={value}
      label={displayedLabel}
      label-visible
      onchange={onChangeCurrentFileInput}>
    </lightning-input-rich-text>

    <lightning-textarea
      if:true={isTextArea}
      disabled={disabled}
      value={value}
      label={displayedLabel}
      onchange={onChangeCurrentFileInput}>
    </lightning-textarea>

    <c-om-lookup
      if:true={isLookup}
      disabled={disabled}
      sobject={referenceTo}
      fields="Id,Name"
      value={value}
      label={displayedLabel}
      onselected={onChangeCurrentLookup}
      sosl>
    </c-om-lookup>
  </span>
</template>