<template>
  <span if:true={isLightningInput} class="slds-grid">
      <lightning-input
        tabindex="0"
        type={inputType}
        value={rowValue}
        step={typeAttributes.step}
        timezone={typeAttributes.timeZone}
        formatter={inputFormatter}
        variant="label-hidden"
        onchange={onInputChange}
        onkeydown={onInputKeyPress}
        onblur={onInputBlur}
        placeholder={inputPlaceholder}
        disabled={disabled}
      ></lightning-input>
  </span>
  <template if:true={isTextArea}>
    <lightning-textarea
        class="datatable-textarea"
        tabindex="0"
        value={rowValue}
        variant="label-hidden"
        onchange={onInputChange}
        onkeydown={onInputKeyPress}
        onblur={onInputBlur}
        placeholder={inputPlaceholder}
        disabled={disabled}
      ></lightning-textarea>
  </template>
  <template if:true={isCheckbox}>
    <span>
      <label class="slds-checkbox slds-is-indeterminate" >
        <input class="keyboardMode--trigger"
          checked={rowValue}
          onkeydown={onInputKeyPress}
          onblur={onInputBlur}
          data-indetermined={indetermined}
          type="checkbox"
          onclick={onCheckboxClick}
          tabindex="0"
          disabled={disabled}
        />
        <span class="slds-checkbox--faux"></span>
        <span class="slds-assistive-text"></span>
      </label>
    </span>
  </template>
  <span if:true={isPicklist}>
    <div class="selectWrapper">
      <c-om-select
        tabindex="0"
        onchange={onPicklistChange}
        onblurselect={onInputBlur}
        onkeydown={onInputKeyPress}
        data-type="picklist"
        records={picklistOptions}
        value={rowValue}
        onselect={emitValue}
        placeholder={inputPlaceholder}
        disabled={disabled}
      ></c-om-select>
    </div>
  </span>
  <!-- TODO Lookups-->
</template>