<template>
    <div if:false={loadedData}>
        <div style="text-align: center; width: 80px; height: 80px;">
            <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
        </div>
    </div>
    <div if:true={loadedData}>
        <div if:false={loadedTratamientosVisita}>
            No hay tratamientos para la visita
        </div>
        <div if:true={loadedTratamientosVisita}>
            <lightning-tabset style="width: 100%;">
                <template for:each={tratamientosVisita.visTrat} for:item="visTrat">
                    <lightning-tab key={visTrat.Id} label={visTrat.Name}>
                        <lightning-accordion class="example-accordion" 
                            onsectiontoggle={handleToggleSection}
                            active-section-name={activeSections}
                            allow-multiple-sections-open>

                            <div if:true={visTrat.FormularioTratamiento} key={visTrat.FormularioTratamiento.Id} style="width: 100%;">   
                                <lightning-accordion-section name="A" label="Formularios" >
                                        <div>
                                            
                                            
                                            <div if:true={visTrat.FormularioTratamiento} >
                                                <div if:true={visTrat.FormularioTratamiento.EstructuraLayout} >
                                                    
                                                    <lightning-record-edit-form
                                                        object-api-name="Formulario_Clinico__c"
                                                        record-id={visTrat.FormularioTratamiento.Id}
                                                        onsuccess={handleSuccessRecordEditForm}
                                                        onerror={handleErrorRecordEditForm}> 

                                                        <div class="slds-var-m-top_medium slds-align_absolute-center" style="margin-bottom: 1%;">
                                                            <lightning-button variant="brand" type="submit" label="Guardar" disabled={readOnlyMode}>
                                                            </lightning-button>
                                                            <lightning-button label="Cancelar" onclick={handleResetRecordEditForm} disabled={readOnlyMode}>
                                                            </lightning-button>
                                                        </div>

                                                        <lightning-layout multiple-rows style="width: 100%;">

                                                            <div style="width: 100%;" if:true={visTrat.FormularioTratamiento.EstructuraLayout.Disposicion2Columnas} >
                                                                <template for:each={visTrat.FormularioTratamiento.EstructuraLayout.Campos} for:item="Campo">
                                                                        <div if:true={Campo.EsSeccion} key={Campo.APIName} class="sectionClass">
                                                                            <h3>{Campo.NombreCampo}</h3>
                                                                        </div>
                                                                    <div if:false={Campo.EsSeccion} key={Campo.APIName} style="width: 50%; float: left;" >
                                                                        <lightning-layout-item key={Campo.APIName} size="6">
                                                                            <lightning-input-field field-name={Campo.APIName} disabled={Campo.ReadOnly}> </lightning-input-field>
                                                                        </lightning-layout-item>
                                                                    </div>
                                                                </template>
                                                            </div>
                                                            <div style="width: 100%;" if:true={visTrat.FormularioTratamiento.EstructuraLayout.Disposicion1Columna} >
                                                                <template for:each={visTrat.FormularioTratamiento.EstructuraLayout.Campos} for:item="Campo">
                                                                    <lightning-layout-item key={Campo.APIName} size="12">
                                                                        <lightning-input-field field-name={Campo.APIName} disabled={Campo.ReadOnly}> </lightning-input-field>
                                                                    </lightning-layout-item>
                                                                </template>
                                                            </div>
                                                        </lightning-layout>
                                                        

                                                        

                                                        <div class="slds-var-m-top_medium slds-align_absolute-center">
                                                            <lightning-button variant="brand" type="submit" label="Guardar" disabled={readOnlyMode}>
                                                            </lightning-button>
                                                            <lightning-button label="Cancelar" onclick={handleResetRecordEditForm} disabled={readOnlyMode}>
                                                            </lightning-button>
                                                        </div>
                                                        <div class="slds-var-m-top_medium">
                                                            
                                                        </div>
                                                    </lightning-record-edit-form>
                                                </div>
                                                
                                            </div>
                                            
                                            

                                            
                                        </div>
                                    <!-- <div if:false={visTrat.FormularioTratamiento} style="width: 100%;">
                                        <div>
                                            No existe formulario
                                        </div>
                                    </div> -->
                                </lightning-accordion-section>
                            </div>
                        <lightning-accordion-section name="B" label="Equipos">

                            <div class="slds-align_absolute-center" style="margin-top: 1%; margin-bottom: 1%;">        
                                <lightning-button  variant="brand" label="Escanear equipo" disabled={disabledVirtual} data-visitaid={visTrat.Id} onclick={openVFScanner}></lightning-button>
                                <lightning-button  variant="brand" label="Añadir equipo" disabled={disabledVirtual} data-visitaid={visTrat.Id} onclick={handleClickNewEquipo}></lightning-button>
                                <lightning-button  variant="brand" label="Guardar" disabled={readOnlyMode} data-visitaid={visTrat.Id} onclick={guardarEquipos}></lightning-button>
                                <lightning-button  label="Cancelar" disabled={readOnlyMode} onclick={cancelarCambiosEquipos}></lightning-button>
                            </div>
                            
                            <div if:true={visTrat.EquiposTratamiento} key={visTrat.EquiposTratamiento.Id} style="width: 100%;">  
                                
                                <div class="slds-scrollable_x">
                                    <table class="slds-table slds-table_bordered slds-cell-wrap">
                    
                                        <thead>
                                            <tr class="slds-line-height_reset">
                                                <th class="slds-text-title_caps" scope="col">
                                                    <div class="slds-truncate" title=""></div>
                                                </th>
                                                <th class="slds-text-title_caps" scope="col">
                                                    <div class="slds-truncate" title="Equipo principal">P</div>
                                                </th>
                                                <!--649-->
                                                <th class="slds-text-title_caps" scope="col">
                                                    <div class="slds-truncate" title="Telemonitorizar">TEL</div>
                                                </th>
                                                <th class="slds-text-title_caps" scope="col">
                                                    <div class="slds-truncate" title="Código del equipo">EQUIPO</div>
                                                </th>
                                                <th class="slds-text-title_caps" scope="col">
                                                    <div class="slds-truncate" title="Tipo de aparato">TIPO APARATO</div>
                                                </th>
                                                <th class="slds-text-title_caps" scope="col">
                                                    <div class="slds-truncate" title="Marca">MARCA</div>
                                                </th>
                                                <th class="slds-text-title_caps" scope="col">
                                                    <div class="slds-truncate" title="Modelo">MODELO</div>
                                                </th>
                                                <th class="slds-text-title_caps" scope="col">
                                                    <div class="slds-truncate" title="Lectura actual" style="min-width:100px;" >LEC. ACT.</div>
                                                </th>
                                                <th class="slds-text-title_caps" scope="col">
                                                    <div class="slds-truncate" title="Lectura anterior">LEC. ANT.</div>
                                                </th>
                                                <th class="slds-text-title_caps" scope="col">
                                                    <div class="slds-truncate" title="Consumo">CONSUMO</div>
                                                </th>
                                                <th class="slds-text-title_caps" scope="col">
                                                    <div class="slds-truncate" title="Consumo medio/día">CONS. MED.</div>
                                                </th>
                                                <th class="slds-text-title_caps" scope="col">
                                                    <div class="slds-truncate" title="Retirar/Borrar"></div>
                                                </th>
                                                <th class="slds-text-title_caps" scope="col">
                                                    <div class="slds-truncate" title="Reseteo Contador"></div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>                  
                                            
                                            <template if:true={refreshEquipos} for:each={visTrat.EquiposTratamiento} for:item="Equipos">
                                                <tr key={Equipos.Id} class="slds-hint-parent">
                                                    <!-- Columna Equipo principal -->
                                                    <td data-label="">
                                                        <div if:true={Equipos.estaRetirado} class="slds-truncate" title="">
                                                            <span style="color: red;">Retirado</span>
                                                        </div>
                                                        <div if:true={Equipos.estaInstalado} class="slds-truncate" title="">
                                                            <span style="color: green;">Instalado</span>
                                                        </div>
                                                    </td>
                                                    <td data-label="">
                                                        <div class="slds-truncate" title="">
                                                            <lightning-input data-key={Equipos.Id} type="checkbox" name="equipoPrincipal" checked={Equipos.P} disabled={disabledVirtual} onclick={handleClickEquipoSum}></lightning-input>
                                                        </div>
                                                    </td>
                                                    <!-- Columna Equipo telemático -->
                                                    <td data-label="">
                                                        <div class="slds-truncate" title="">
                                                            <lightning-input data-key={Equipos.Id} type="checkbox" name="equipoTelematico" checked={Equipos.Tel} disabled={disabledVirtual} onclick={handleClickEquipoSum}></lightning-input>
                                                        </div>
                                                    </td>
                                                    <td data-label="">
                                                        <div class="slds-truncate" title="">
                                                            {Equipos.Equipo}
                                                        </div>
                                                    </td>
                                                    <td data-label="">
                                                        <div class="slds-truncate" title="">
                                                            {Equipos.familia}
                                                        </div>
                                                    </td>
                                                    <td data-label="">
                                                        <div class="slds-truncate" title="">
                                                            {Equipos.Marca}
                                                        </div>
                                                    </td>
                                                    <td data-label="">
                                                        <div class="slds-truncate" title="">
                                                            {Equipos.Modelo}
                                                        </div>
                                                    </td>
                                                    <td data-label="">
                                                        <template if:false={Equipos.lecturaPermitida}>
                                                            <div class="slds-truncate" title="" style="margin-top: -8%;">
                                                                <lightning-input type="number" data-key={Equipos.Id} onchange={handleClickEquipoSum} value={Equipos.LecturaActual} disabled></lightning-input>
                                                            </div>
                                                        </template>
                                                        <template if:true={Equipos.lecturaPermitida}>
                                                            <div class="slds-truncate" title="" style="margin-top: -8%;">
                                                                <lightning-input type="number" disabled={readOnlyMode} data-key={Equipos.Id} onchange={handleClickEquipoSum} value={Equipos.LecturaActual}></lightning-input>
                                                            </div>
                                                        </template>
                                                    </td>
                                                    <td data-label="">
                                                        <div class="slds-truncate slds-text-align_center" title="" >
                                                            
                                                            <lightning-formatted-number value={Equipos.LecturaAnterior} 
                                                                maximum-fraction-digits="2"></lightning-formatted-number>
                                                        </div>
                                                    </td>
                                                    <td data-label="">
                                                        <div class="slds-truncate slds-text-align_center" title="">
                                                            <lightning-formatted-number value={Equipos.Consumo} 
                                                                maximum-fraction-digits="2"></lightning-formatted-number>
                                                        </div>
                                                    </td>
                                                    <td data-label="">
                                                        <div class="slds-truncate slds-text-align_center" title="">
                                                            <div class="slds-truncate slds-text-align_center" title="">
                                                                <lightning-formatted-number value={Equipos.ConsumoMedio} 
                                                                    maximum-fraction-digits="2"></lightning-formatted-number>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td data-label="">
                                                        <div if:false={Equipos.estaRetirado} class="slds-truncate" title="">
                                                            <lightning-button-icon icon-name="utility:delete" data-equipoid={Equipos.Id} data-visitatratamientoid={visTrat.Id} size="small" alternative-text="Retirar/Borrar" onclick={openDeleteModalSuministradoConfirmacion} disabled={disabledVirtual}></lightning-button-icon>       
                                                        </div>
                                                        <div if:true={Equipos.estaRetirado} class="slds-truncate" title="">
                                                            <lightning-button-icon icon-name="utility:undelete" data-equipoid={Equipos.Id} data-visitatratamientoid={visTrat.Id} size="small" alternative-text="Reinstalar" onclick={openReinstalarModalSuministradoConfirmacion} disabled={disabledVirtual}></lightning-button-icon>       
                                                        </div>
                                                    </td>
                                                    <td data-label="">
                                                        <div class="slds-truncate" title="">
                                                            <lightning-button-icon icon-name="utility:loop" data-equipoid={Equipos.Id} size="small" alternative-text="Resetear contador" onclick={openResetModalSuministradoConfirmacion} disabled={readOnlyMode}></lightning-button-icon>       
                                                        </div>
                                                    </td>
                                                </tr>
                                            </template>
                                        </tbody>
                                        
                                    </table>

                                </div>

                            </div>
                            <div if:false={visTrat.EquiposTratamiento} style="width: 100%;">
                                <div>
                                    No existen equipos suministrados
                                </div>
                            </div>
                        </lightning-accordion-section>
                            
                            <lightning-accordion-section name="C" label="Fungibles">
                                <div if:true={visTrat.FungiblesTratamiento} key={visTrat.FungiblesTratamiento.Id} style="width: 100%;">   

                                            <article class="slds-card slds-card_boundary forceRelatedListCardDesktop">
                                                <div class="slds-card__header slds-grid">
                                                    <header class="slds-media slds-media-center slds-has-flexi-truncate">
                                                        <span class="slds-m-right--small"><lightning-icon icon-name="custom:custom37" alternative-text="Fungibles suministrados" title="Fungibles suministrados" size="small"></lightning-icon></span>
                                                        <span><h2 class="slds-card__header-title"><b>Fungibles suministrados ({visTrat.FungiblesTratamiento.length}) </b></h2></span>     
                                                        <lightning-button variant="brand" data-visitaid={visTrat.Id} label="Añadir Fungible" title="Añadir Fungible" onclick={handleClickNewFungible} class="slds-m-left_x-small" style="margin-left: 2%;" disabled={readOnlyMode}></lightning-button>
                                                    
                                                    </header>
                                                </div>
                                            </article>
                                            <div class="slds-scrollable_x">
                                                <table class="slds-table slds-table_bordered slds-cell-wrap">
                        
                                                    <thead>
                                                        <tr class="slds-line-height_reset">
                                                            <th class="slds-text-title_caps" scope="col">
                                                                <div class="slds-truncate" title="Equipo principal">Nombre</div>
                                                            </th>
                                                            <!--649-->
                                                            <th class="slds-text-title_caps" scope="col">
                                                                <div class="slds-truncate" title="Telemonitorizar">Marca y Modelo</div>
                                                            </th>
                                                            <th class="slds-text-title_caps" scope="col">
                                                                <div class="slds-truncate" title="Código del equipo">Cantidad</div>
                                                            </th>
                                                            <th class="slds-text-title_caps" scope="col">
                                                                <div class="slds-truncate" title="Lote">Lote</div>
                                                            </th>
                                                            <th class="slds-text-title_caps" scope="col">
                                                                <div class="slds-truncate" title="Retirar/Borrar"></div>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>                  
                                                        <template for:each={visTrat.FungiblesTratamiento} for:item="Fungible">
                                                            <tr key={Fungible.Id} class="slds-hint-parent">
                                                                <!-- Columna Retirado/Instalado -->
                                                                <td data-label="">
                                                                    <div class="slds-truncate" title="">
                                                                        <a href={Fungible.FungibleUrl}> {Fungible.Name} </a>  
                                                                    </div>
                                                                </td>
                                                                <td data-label="">
                                                                    <div class="slds-truncate" title="">
                                                                        <a href={Fungible.MarcaModeloUrl}> {Fungible.MarcaModelo} </a>
                                                                    </div>
                                                                </td>
                                                                <td data-label="">
                                                                    <div class="slds-truncate" title="">
                                                                        {Fungible.Cantidad}
                                                                    </div>
                                                                </td>
                                                                <td data-label="">
                                                                    <div class="slds-truncate" title="">
                                                                        {Fungible.Lote}
                                                                    </div>
                                                                </td>
                                                                <td data-label="">
                                                                    <div class="slds-truncate" title="">
                                                                        <lightning-button-icon icon-name="utility:delete" data-fungibleid={Fungible.Id} data-visitatratamientoid={visTrat.Id} size="small" alternative-text="Retirar/Borrar" onclick={openDeleteModalFungibleConfirmacion} disabled={readOnlyMode}></lightning-button-icon>       
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </template>
                                                    </tbody>
                                                    
                                                </table>
                                            </div>
                                        
                                            
                                </div>
                                <div if:false={visTrat.FungiblesTratamiento} style="width: 100%;">
                                    <article class="slds-card slds-card_boundary forceRelatedListCardDesktop">
                                        <div class="slds-card__header slds-grid">
                                            <header class="slds-media slds-media-center slds-has-flexi-truncate">
                                                <span class="slds-m-right--small"><lightning-icon icon-name="custom:custom37" alternative-text="Fungibles suministrados" title="Fungibles suministrados" size="small"></lightning-icon></span>
                                                <span><h2 class="slds-card__header-title"><b>Fungibles suministrados (0) </b></h2></span>     
                                                <lightning-button variant="brand" data-visitaid={visTrat.Id} label="Añadir Fungible" title="Añadir Fungible" onclick={handleClickNewFungible} class="slds-m-left_x-small" style="margin-left: 2%;" disabled={readOnlyMode}></lightning-button>
                                            
                                            </header>
                                        </div>
                                    </article>
                                    <div>
                                        No existen fungibles suministrados
                                    </div>
                                </div>
                            </lightning-accordion-section>
                        
                        </lightning-accordion>
                    </lightning-tab>
                </template>  
            </lightning-tabset>
        </div>
        
        <div if:true={showModalConfirmacionEquipoDelete} style="height: 20rem;">
            <section role="alertdialog" tabindex="-1" aria-labelledby="prompt-heading-id" class="slds-modal slds-fade-in-open slds-modal_prompt" aria-modal="true">
                <div class="slds-modal__container">
                    <header class="slds-modal__header slds-modal__header_empty">
                    </header>
                    <div class="slds-modal__content slds-p-around_medium">
                        <div style="text-align: center; font-weight: bold;">¿Está seguro de que desea retirar/borrar el equipo seleccionado?</div>
                    </div>
                    <footer class="slds-modal__footer slds-theme_default">
                        <lightning-button  variant="brand" label="Aceptar" onclick={confirmacionBorrarEquipoSuministrado}></lightning-button>
                        <lightning-button  label="Cancelar" onclick={closeDeleteModalSuministradoConfirmacion}></lightning-button>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>

        <div if:true={showModalConfirmacionEquipoReinstalar} style="height: 20rem;">
            <section role="alertdialog" tabindex="-1" aria-labelledby="prompt-heading-id" class="slds-modal slds-fade-in-open slds-modal_prompt" aria-modal="true">
                <div class="slds-modal__container">
                    <header class="slds-modal__header slds-modal__header_empty">
                    </header>
                    <div class="slds-modal__content slds-p-around_medium">
                        <div style="text-align: center; font-weight: bold;">¿Está seguro de que desea cancelar la retirada del equipo seleccionado?</div>
                    </div>
                    <footer class="slds-modal__footer slds-theme_default">
                        <lightning-button  variant="brand" label="Aceptar" onclick={confirmacionReinstalarEquipoSuministrado}></lightning-button>
                        <lightning-button  label="Cancelar" onclick={closeReinstallModalSuministradoConfirmacion}></lightning-button>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>


        <div if:true={showModalConfirmacionFungibleDelete} style="height: 20rem;">
            <section role="alertdialog" tabindex="-1" aria-labelledby="prompt-heading-id" class="slds-modal slds-fade-in-open slds-modal_prompt" aria-modal="true">
                <div class="slds-modal__container">
                    <header class="slds-modal__header slds-modal__header_empty">
                    </header>
                    <div class="slds-modal__content slds-p-around_medium">
                        <div style="text-align: center; font-weight: bold;">¿Está seguro de que desea borrar el fungible seleccionado?</div>
                    </div>
                    <footer class="slds-modal__footer slds-theme_default">
                        <lightning-button  variant="brand" label="Aceptar" onclick={confirmacionBorrarFungibleSuministrado}></lightning-button>
                        <lightning-button  label="Cancelar" onclick={closeDeleteModalFungibleConfirmacion}></lightning-button>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>

        <div if:true={showModalConfirmacionReset} style="height: 20rem;">
            <section role="alertdialog" tabindex="-1" aria-labelledby="prompt-heading-id" class="slds-modal slds-fade-in-open slds-modal_prompt" aria-modal="true">
                <div class="slds-modal__container">
                    <header class="slds-modal__header slds-modal__header_empty">
                    </header>
                    <div class="slds-modal__content slds-p-around_medium">
                        <div style="text-align: center; font-weight: bold;">¿Está seguro de que desea restablecer el contador para el equipo seleccionado?</div>
                        <div style="margin-top: 2%;">
                            <lightning-input label="Nueva lectura:" type="number" onchange={handleChangeEquipoSuministradoLectura}></lightning-input>
                        </div>
                    </div>
                    <footer class="slds-modal__footer slds-theme_default">
                        <lightning-button variant="brand" label="Aceptar" onclick={confirmacionResetEquipoSuministrado}></lightning-button>
                        <lightning-button label="Cancelar" onclick={closeResetModalConfirmacion}></lightning-button>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>
        <!-- MODAL CREACIÓN FUNGIBLE SUMINISTRADO -->
        <template if:true={showAddFungibleModal}>
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container" style="width: 70% !important;">
                    <header class="slds-modal__header">
                        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeAddFungibleModal}>
                            <lightning-icon icon-name="utility:close"
                                alternative-text="close"
                                variant="inverse"
                                size="small" ></lightning-icon>
                            <span class="slds-assistive-text">Close</span>
                        </button>
                        <h2 class="slds-text-heading_medium slds-hyphenate">Nuevo fungible suministrado</h2>
                    </header>
                    <div style="overflow:initial;" class="slds-modal__content slds-p-horizontal_medium slds-p-bottom_xx-large">
                        <div style="width: 50%; float: left; overflow: initial;">
                            <c-custom-lookup-lwc iconname="standard:service_appointment" style="display:none" allowclearrecord=false objecttousenameforshowingrecord='ServiceAppointment' onvisitaidchange={handleChangeVisita} sobjectapiname="ServiceAppointment" defaultrecordid={recordId} label="Visita"></c-custom-lookup-lwc>
                            <c-custom-lookup-lwc iconname="standard:product" isfungible=true allowclearrecord=true objecttousenameforshowingrecord='Fungible' onfungibleidchange={handleChangeFungible} sobjectapiname="Product2" label="Fungible"></c-custom-lookup-lwc>
                            <div>
                                <lightning-input onchange={handleChangeCantidad} type="number" label="Cantidad" pattern="[0-9]+" maxlength="9" required="true"></lightning-input>
                            </div>
                            <div>
                                <lightning-helptext content="Debe rellenarse únicamente si NO se trata de una visita virtual."></lightning-helptext>
                                <lightning-input onchange={handleChangeNumeroLote} type="text" label="Número de lote"></lightning-input>
                            </div>
                        </div>
                    </div>
                    <footer class="slds-modal__footer">
                        <button class="slds-button slds-button_neutral" onclick={closeAddFungibleModal} title="Cancel">Cancel</button>
                        <button class="slds-button slds-button_brand" onclick={addFungibleSuministrado} title="OK">OK</button>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
            <div if:true={showSpinner}>
                <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
            </div>
        </template>

        <!-- MODAL CREACIÓN DE EQUIPO SUMINISTRADO -->
        <template if:true={showAddEquipoModal}>
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container" style="width: 70% !important;">
                    <header class="slds-modal__header">
                        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeAddEquipoSuministradoModal}>
                            <lightning-icon icon-name="utility:close"
                                alternative-text="close"
                                variant="inverse"
                                size="small" ></lightning-icon>
                            <span class="slds-assistive-text">Close</span>
                        </button>
                        <h2 class="slds-text-heading_medium slds-hyphenate">Nuevo Equipo suministrado</h2>
                    </header>
                    <div class="slds-modal__content slds-p-around_medium" style="height: 350px;">
                        <div style="width: 50%;">
                            <lightning-input type="text" label="Código equipo" onchange={handleChangeCodigoEquipoSuministrado}></lightning-input>
                            <lightning-input type="checkbox" label="Equipo Principal" onchange={handleChangeEquipoPrincipal}></lightning-input>
                            <lightning-input type="checkbox" label="Equipo Telemático" onchange={handleChangeEquipoTelematico}></lightning-input>                          
                            <lightning-combobox
                                        name="CausaSustitucion"
                                        label="Causa Sustitución"
                                        value={causaSustitucionValue}
                                        options={causaSustitucionOptions}
                                        onchange={handleChangeCausaSustitucion} ></lightning-combobox>
                        </div>
                    </div>
                    <footer class="slds-modal__footer">
                        <button class="slds-button slds-button_neutral" onclick={closeAddEquipoSuministradoModal} title="Cancel">Cancel</button>
                        <button class="slds-button slds-button_brand" onclick={addEquipoSuministrado} title="OK">OK</button>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
            <div if:true={showSpinner}>
                <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
            </div>
        </template>
    </div>
</template>