.page_button{
    margin-left: 0px;
}
.datatable-container {
    overflow: auto;
    /*overflow-y: hidden;*/
    max-width: 100vw;
    height: 100%;
    max-height: 90vh;
    clear: both;
    position: relative;
    z-index: 0;
    /*flex-grow: 1;*/
}

.table-auto {
    width: auto;
}

.table-full {
    width: 100%;
}
.datatable-container > table {
    border-top: 0px !important;
}

.selection-cell {
    width: 32px !important;
}
.actions-cell {
    width: 40px !important;
}
.row-numbers-cell {
    width: 60px !important;
}

.om-datatable-td {
    height: 100%;
    padding: 0;
}

.draggingOver {
    border-top: 2px solid var(--lwc-brandPrimary,rgb(70, 3, 255)) !important;
    border-bottom: 2px solid var(--lwc-brandPrimary,rgb(70, 3, 255)) !important;
}

.draggingOver td{
    border-top: 2px solid var(--lwc-brandPrimary,rgb(70, 3, 255)) !important;
    border-bottom: 2px solid var(--lwc-brandPrimary,rgb(70, 3, 255)) !important;
}

.detail-row:hover, .detail-row td:hover, .detail-row td, .detail-row {
  background-color: inherit !important;     
  opacity: 1.0;
}

/* .slds-th__action{
    padding: 0px!important;
} */

@media (max-width: 600px) {
    .pageSelector1 {
        display: none;
    }
}

@media (min-width: 601px) {
    .pageSelector2 {
        display: none;
    }
}

table > thead > tr:last-child > th,
table > thead th.selection-cell,
table > thead th.actions-cell,
table > thead th.row-numbers-cell {
    border-bottom: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorder,#D4D4D4);
}


table > thead > tr:first-child > th,
table > thead th.fixed.selection-cell,
table > thead th.fixed.actions-cell,
table > thead th.row-numbers-cell {
    border-top: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorder,#D4D4D4);
}

td {
    background-color: white;
}

.stacked {
    position: sticky;
    z-index: 1;
}

td.stacked:focus-within, th.stacked:focus-within, th:active{
    z-index: 1050 !important;
}

tr > td.stacked:last-of-type,
tr > th.stacked:last-of-type {
    border-right: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorder,#D4D4D4);
    box-shadow: 3px 0 5px -2px var(--lwc-colorBorder,#D4D4D4); 
}

.last-stacked {
    border-right: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorder,#D4D4D4);
    box-shadow: 3px 0 5px -2px var(--lwc-colorBorder,#D4D4D4);
}

.header-input-cell {
    padding: 0.05rem;
}

.group-cell .slds-cell-edit__button {
    display: none !important;
}

.datatable-container::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.datatable-container::-webkit-scrollbar-track {

}

.datatable-container::-webkit-scrollbar-thumb {
    background-color: var(--lwc-brandPrimary, red);
    /*border-radius: .25rem;
    border-bottom-left-radius: .25rem;*/
    border-radius: .25rem;
}


.slds-table_col-bordered thead > tr + tr > th:first-of-type {
    border-left: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorder,#D4D4D4);
}


tbody {
    transform: none !important;
}
/*tr {
    transform: rotateX(0deg);
}*/

table {
    table-layout: fixed;
    width: auto;
    transform: rotateX(0deg);
}

/** Fixed headers **/
table > thead > tr > th {
    position: sticky;
    height: 35px;
}

table > thead > tr > th[rowspan="2"] {
    height: 70px;
}
table > thead > tr > th[rowspan="3"] {
    height: 105px;
}

table > thead > tr:nth-child(1) > th {
    top: 0px;
    z-index: 10;
}
table > thead > tr:nth-child(2) > th {
    top: 35px;
    z-index: 9;
}
table > thead > tr:nth-child(3) > th {
    top: 70px;
    z-index: 8;
}
table > thead > tr:nth-child(4) > th {
    top: 105px;
    z-index: 7;
}

/** Stacked columns */
table > thead > tr:nth-child(1) > th:not(.stacked):not(.selection-cell),
table > thead > tr:nth-child(1) > th:not(.stacked):not(.actions-cell) {
    z-index: 6;
}

table > thead > tr:nth-child(2) > th:not(.stacked):not(.selection-cell),
table > thead > tr:nth-child(2) > th:not(.stacked):not(.actions-cell) {
    z-index: 5;
}

table > thead > tr:nth-child(3) > th:not(.stacked):not(.selection-cell),
table > thead > tr:nth-child(3) > th:not(.stacked):not(.actions-cell) {
    z-index: 4;
}

table > thead > tr:nth-child(4) > th:not(.stacked):not(.selection-cell),
table > thead > tr:nth-child(4) > th:not(.stacked):not(.actions-cell) {
    z-index: 3;
}

table.with-stacked-cols .selection-cell,
table.with-stacked-cols .actions-cell,
table.with-stacked-cols .row-numbers-cell {
    position: sticky;
    left: 0px;
    z-index: 1001 !important;
}

table.with-stacked-cols .row-numbers-cell + .selection-cell,
table.with-stacked-cols .row-numbers-cell + .actions-cell {
    position: sticky;
    left: 60px;
    z-index: 100 !important;
}

table.with-stacked-cols .selection-cell + .actions-cell {
    position: sticky;
    left: 32px;
    z-index: 100 !important;
}

table.with-stacked-cols .row-numbers-cell + .selection-cell + .actions-cell {
    position: sticky;
    left: 92px;
    z-index: 100 !important;
}

table.with-stacked-cols td.selection-cell + td.actions-cell {
    z-index: 1000 !important;
}