<template>
    <div class={mainClasses.body} style="height: 100%; display: flex;flex-direction: column;">

        <a class="hidden-xls-generator" download={exportFileName}></a>

        <slot name="header">
            <div class="slds-grid slds-wrap slds-grid_vertical-align-end slds-var-m-bottom_x-small">
                <div class="slds-grid slds-grid_vertical-align-end slds-col slds-col_bump-right slds-var-p-left_x-small">
                    <slot name="top-left-actions"> </slot>
                </div>
                <div class="slds-grid slds-grid_vertical-align-end slds-grid_align-end slds-col slds-col_bump-left slds-text-align_right slds-var-p-right_x-small">
                    <template if:true={showSearchInput}>
                        <lightning-input type="search" name="input1" value={privateSearchTerm} variant="label-hidden" placeholder={getSearchLabel} onchange={goSearch} autocomplete="off" class="slds-var-m-right_x-small"></lightning-input>
                    </template>
                    <slot name="top-right-actions"> </slot>
                    <lightning-button-group>
                        <template if:false={isList}>
                            <lightning-button-icon if:true={exportable} icon-name="utility:download" variant="border-filled" alternative-text="Export" title="Export" onclick={exportToExcel}></lightning-button-icon>
                            <lightning-button-icon if:true={filterable} icon-name="utility:filterList" variant={filtersStatus.variant} alternative-text="Export" title="Toggle filter" onclick={toggleFilters}></lightning-button-icon>
                        </template>
                        <lightning-button-menu if:true={showOptionsMenu} alternative-text="Options" menu-alignment="right" icon-name="utility:settings">
                            <lightning-menu-item if:true={anyColumnHidden} onclick={unHideAllColumns} icon-name="utility:unhide" label={labels.unhideColumns}></lightning-menu-item> 
                            <lightning-menu-item onclick={toggleFilterOption} icon-name={filterOption.icon} label={filterOption.label}></lightning-menu-item> 
                            <lightning-menu-item if:false={isList} data-value="list" onclick={switchViewMode} icon-name="utility:list" label={labels.showAsList}></lightning-menu-item> 
                            <lightning-menu-item if:false={isTable} data-value="table" onclick={switchViewMode} icon-name="utility:table" label={labels.showAsTable}></lightning-menu-item> 
                        </lightning-button-menu>
                    </lightning-button-group>
                </div>
            </div>
        </slot>

        <div class="datatable-container" if:true={isTable} onscroll={onTableScroll}>
            <div class="loading-spinner-holder" if:true={isLoading}>
                <lightning-spinner alternative-text="Loading..."></lightning-spinner>
            </div>
            <table class={tableClass} style="height: 0px">
                <template if:false={hideHeader}>
                    <thead>
                        <tr data-index="top">
                            <template if:false={exporting}>
                                <template if:true={showRowNumberColumn}>
                                    <th rowspan={columnModel.noFilterableRowspan} class="row-numbers-cell"></th>
                                </template>
                                <template if:true={selectable} >
                                    <th rowspan={columnModel.noFilterableRowspan} class="selection-cell" >
                                        <template if:false={hideSelectAll}>
                                            <template if:true={multiselectable}>
                                                <div class="slds-th__action slds-th__action_form">
                                                    <div class="slds-checkbox">
                                                        <input type="checkbox" id="selectAll" data-key="all" onchange={onSelect} disabled={disabledSelectors}/>
                                                        <label class="slds-checkbox__label" for="selectAll">
                                                            <span class="slds-checkbox_faux"></span>
                                                            <span class="slds-form-element__label slds-assistive-text">{labels.selectAll}</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </template>
                                        </template>
                                    </th>
                                </template>
                                <template if:true={hasActions}>
                                    <th class="actions-cell" rowspan={columnModel.noFilterableRowspan} ></th>
                                </template>
                            </template>

                            <template if:true={columnModel.topRow}>
                                <template for:each={columnModel.topRow.columns} for:item="column" for:index="iCol" >
                                    <template if:false={column.hidden}>
                                        <th key={column.key} data-column-key={column.key} data-stacked={column.stacked}  class="slds-has-button-menu slds-is-resizable slds-is-sortable" style={column.style} colspan={column.colspan} rowspan={column.rowspan} >   
                                            <c-om-datatable-head
                                                column={column}
                                                order={order}
                                                exporting={exporting}
                                                resizable={resizable}
                                                col-index={iCol}
                                                hide-column-actions={hideColumnActions}

                                                onbeginresize={handleResize}
                                                onsort={orderByColumn}
                                                oncolumnaction={handleColumnAction}>
                                            </c-om-datatable-head>
                                        </th>
                                    </template>
                                </template>
                            </template>
                        </tr>
                        <template if:true={columnModel.headerRows}>
                            <template if:true={columnModel.headerRows.length}>
                                <tr for:each={columnModel.headerRows} for:item="cRow" for:index="iRow" key={cRow.index} data-index={iRow}>
                                    <template for:each={cRow.columns} for:item="column" for:index="iCol" >
                                        <template if:false={column.hidden}>
                                            <th
                                                key={column.key}
                                                data-column-key={column.key}
                                                data-column-group-key={column.groupKey}
                                                data-stacked={column.stacked}
                                                style={column.style} 
                                                class="slds-has-button-menu slds-is-resizable slds-is-sortable" 
                                                scope="col"
                                                colspan={column.colspan} 
                                                rowspan={column.rowspan}>

                                                <c-om-datatable-head
                                                    column={column}
                                                    order={order}
                                                    resizable={resizable}
                                                    exporting={exporting}
                                                    col-index={iCol}
                                                    hide-column-actions={hideColumnActions}
                                                    onbeginresize={handleResize}
                                                    onsort={orderByColumn}
                                                    oncolumnaction={handleColumnAction}>
                                                </c-om-datatable-head>                              
                                            </th>
                                    </template>
                                </template>
                                </tr>
                            </template>
                        </template>
                        <template if:false={exporting}>
                            <template if:true={filterable}>
                                <tr if:true={filtersStatus.show} data-index="filter">
                                    <template for:each={columnModel.dataColumns} for:item="column">
                                        <th class="header-input-cell" key={column.key} data-stacked={column.stacked} style={column.style} data-column-key={column.key} if:false={column.hidden}>
                                            <c-om-datatable-input 
                                                if:true={column.filterable}
                                                nullable
                                                data-col={column.key}
                                                column={column}
                                                onchange={onChangeColumnFilter}
                                                placeholder={labels.filterIn}
                                                as-filter
                                                indeterminateable >
                                            </c-om-datatable-input>
                                        </th>
                                    </template>
                                </tr>
                            </template>
                            <tr  if:true={massiveEditable} data-index="edition">
                                <template for:each={columnModel.dataColumns} for:item="column">
                                    <th class="header-input-cell" key={column.key} data-stacked={column.stacked} data-column-key={column.key} if:false={column.hidden}>
                                        <c-om-datatable-input 
                                            if:true={column.massiveEditable}
                                            data-col={column.key}
                                            column={column}
                                            onchange={onChangeColumnMassiveEdition}
                                            placeholder="Massive edit"
                                            >
                                        </c-om-datatable-input>
                                    </th>
                                </template>
                            </tr>
                        </template>
                    </thead>
                </template>
                <tbody if:true={hasDisplayedRows}>
                    <template for:each={displayedRows} for:item="row" for:index="iRow">
                        <tr key={row._index}
                            data-key={row.key}
                            data-index={iRow}
                            class={row.cssClass}
                            style={row.cssStyle} 
                            ondragstart={onRowDrag}
                            ondrop={onRowDrop}
                            ondragover={onRowDragOver}
                            ondragleave={onRowDragLeave}
                            draggable={canDragRows}
                            onclick={onRowClick}>

                            <template if:false={exporting}>
                                <template if:true={showRowNumberColumn}>
                                    <td class="row-numbers-cell" style="width: 60px">
                                        <div class="slds-row-number slds-text-body_small slds-text-color_weak" style="width: 60px"></div>
                                    </td>
                                </template>
                                <template if:true={selectable}>
                                    <template if:true={multiselectable}>
                                        <td class="selection-cell" >
                                            <div class="slds-checkbox">
                                                <input id={row.key} type="checkbox" checked={row.selected} data-key={row.key} onchange={onSelect} disabled={row.unselectable}/>
                                                <label class="slds-checkbox__label" for={row.key}>
                                                <span class="slds-checkbox_faux"></span>
                                                <span class="slds-form-element__label slds-assistive-text">{labels.select}</span>
                                                </label>
                                            </div>
                                        </td>
                                    </template>
                                    <template if:false={multiselectable}>
                                        <td class="selection-cell" >
                                            <span class="slds-radio" style="cursor: pointer;">
                                                <input id={row.key} data-key={row.key} name="radiob" type="radio" checked={row.selected} onchange={onSelect} disabled={disabledSelectors}/>
                                                <label class="slds-radio__label" for={row.key}>
                                                    <span class="slds-radio_faux"></span>
                                                    <span class="slds-form-element__label"></span>
                                                </label>
                                            </span>
                                        </td>
                                    </template>
                                </template>
                                <template if:true={hasActions}>
                                    <td class="actions-cell">
                                        <!--<template if:true={editable}>
                                                <lightning-button-icon size="small" if:false={row.editing} icon-name="utility:edit" variant="brand" alternative-text="Edit" class="slds-m-left_xx-small" title="Edit" data-key={row.key} onclick={enterEditMode}></lightning-button-icon>
                                                <lightning-button-icon size="small" if:true={row.editing} icon-name="utility:close" variant="destructive-text" alternative-text="Cancel" class="slds-m-left_xx-small" title="Cancel" data-key={row.key} onclick={exitEditMode}></lightning-button-icon>
                                        </template>-->

                                        <template if:true={detailable}>
                                                <lightning-button-icon size="small" if:false={row.drilled} icon-name="utility:search" variant="brand" alternative-text="Edit" class="slds-m-left_xx-small" title="Edit" data-key={row.key} onclick={enterDrillMode}></lightning-button-icon>
                                                <lightning-button-icon size="small" if:true={row.drilled} icon-name="utility:search" variant="destructive-text" alternative-text="Cancel" class="slds-m-left_xx-small" title="Cancel" data-key={row.key} onclick={exitDrillMode}></lightning-button-icon>
                                        </template>
                                    </td>
                                </template>
                            </template>              
                            <template for:each={columnModel.dataColumns} for:item="column" for:index="iCol">
                                <td 
                                    key={column.key}
                                    data-column-key={column.key}
                                    data-row-key={row.key}
                                    data-rowgroup={column.rowGrouping}
                                    data-stacked={column.stacked}
                                    data-rowindex={iRow}
                                    class={cellClass}
                                    role="gridcell"
                                    style={column.style}
                                    onclick={onCellClick}
                                    if:false={column.hidden}>
                                    <c-om-datatable-cell
                                        compact={compact}
                                        data-col-key={column.key}
                                        data-col-index={iCol}
                                        data-row-index={iRow}
                                        row={row}
                                        column={column}
                                        event-method={eventMethod}
                                        exporting={exporting}
                                        datetime-format={datetimeFormat}
                                        col-index={iCol}
                                        row-index={iRow}
                                        cell-style={cellStyle}
                                        disabled-cell={disabledCell}
                                        onnewcellvalue={setNewCellValue}
                                        oncelledit={handleCellEdit}
                                        ontabulation={onCellTabulation}>
                                    </c-om-datatable-cell>
                                    <!--<span><span>Hola</span></span>-->
                                </td>
                            </template>
                        </tr>
                        <tr key={row._index} if:true={row.drilled} class="detail-row">
                            <td colspan={columnModel.visible}>
                                <c-om-datatable-details details-template={detailsTemplate} row={row} details-data={detailsData}></c-om-datatable-details>
                            </td>
                        </tr>
                    </template>
                    <tr if:true={enableInfiniteLoading} class="load-more-row">
                        <td colspan={columnModel.visible} class="slds-text-align_center" align="center">
                            <lightning-button onclick={loadMore} label="Load More"></lightning-button>
                        </td>
                    </tr>
                </tbody>
                <tbody if:false={hasDisplayedRows}>
                    <tr if:false={hideNoResults}>
                        <td colspan={columnModel.visible} class="slds-p-around_none">
                            <slot name="noResults">
                                <c-om-alert texture message={labels.noResultFound} icon-name="utility:info" level={noResultsLevel}></c-om-alert>
                            </slot>
                        </td>
                    </tr>
                </tbody>
                
            </table>
        </div>

        <ul class="datatable-list-container slds-var-p-left_small" if:true={isList}>
            <template for:each={displayedRows} for:item="row" for:index="iRow">
                <li key={row._index}
                    data-key={row.key}
                    data-index={iRow}
                    class="slds-item slds-grid slds-grid_vertical-align-center"
                    style={row.cssStyle} 
                    ondragstart={onRowDrag}
                    ondrop={onRowDrop}
                    ondragover={onRowDragOver}
                    ondragleave={onRowDragLeave}
                    draggable={canDragRows}>

                    <template if:false={exporting}>
                        <template if:true={selectable}>
                            <template if:true={multiselectable}>
                                <td class="selection-cell">
                                    <div class="slds-checkbox">
                                        <input id={row.key} type="checkbox" checked={row.selected} data-key={row.key} onchange={onSelect} disabled={row.unselectable}/>
                                        <label class="slds-checkbox__label" for={row.key}>
                                        <span class="slds-checkbox_faux"></span>
                                        <span class="slds-form-element__label slds-assistive-text">{labels.select}</span>
                                        </label>
                                    </div>
                                </td>
                            </template>
                            <template if:false={multiselectable}>
                                <td class="selection-cell">
                                    <span class="slds-radio" style="cursor: pointer;">
                                        <input id={row.key} data-key={row.key} name="radiob" type="radio" checked={row.selected} onchange={onSelect} disabled={disabledSelectors}/>
                                        <label class="slds-radio__label" for={row.key}>
                                            <span class="slds-radio_faux"></span>
                                            <span class="slds-form-element__label"></span>
                                        </label>
                                    </span>
                                </td>
                            </template>
                        </template>
                        <template if:true={hasActions}>
                            <div class="slds-var-p-right_medium">
                                <template if:true={detailable}>
                                        <lightning-button-icon size="small" if:false={row.drilled} icon-name="utility:search" variant="brand" alternative-text="Edit" class="slds-m-left_xx-small" title="Edit" data-key={row.key} onclick={enterDrillMode}></lightning-button-icon>
                                        <lightning-button-icon size="small" if:true={row.drilled} icon-name="utility:search" variant="destructive-text" alternative-text="Cancel" class="slds-m-left_xx-small" title="Cancel" data-key={row.key} onclick={exitDrillMode}></lightning-button-icon>
                                </template>
                            </div>
                        </template>
                    </template>

                    <c-om-datatable-tile style="width: 100%" columns={columnModel.dataColumns} row={row} icon={listIcon}></c-om-datatable-tile>             
                </li>
                <li key={row._index} if:true={row.drilled}>
                    <div>
                        <c-om-datatable-details details-template={detailsTemplate} row={row}></c-om-datatable-details>
                    </div>
                </li>
            </template>
        </ul>
        <template if:false={exporting}>
            <slot name="paginator">
                <template if:false={hidePaginator}>
                    <div class={responsiveClasses.paginator.body}>
                        <div class={responsiveClasses.paginator.left}>
                            <template if:false={hidePaginatorShow}>
                                <span class="slds-form-element__label slds-p-around_none">{filterStatusText}</span>
                            </template>
                        </div>
                        <div class={responsiveClasses.paginator.center}>
                            <span class="slds-button-group">
                                <template if:true={showPrevious}>
                                    <button type="button" class="slds-button slds-button_brand" onclick={goPrevious}>{labels.previous}</button>
                                </template>
                                <template if:false={responsiveClasses.isMobile}>
                                    <template if:false={hideNumberButtons}>
                                        <template for:each={pagesList} for:item="page">
                                            <template if:true={page.isActive}>
                                                <button type="button" class="slds-button slds-button_brand page_button" key={page.pageNumber} data-page={page.pageNumber} onclick={goToPage}>{page.pageNumber}</button>
                                            </template>
                                            <template if:false={page.isActive}>
                                                <button type="button" class="slds-button slds-button_neutral page_button" key={page.pageNumber} data-page={page.pageNumber} onclick={goToPage}>{page.pageNumber}</button>
                                            </template>
                                        </template>
                                    </template>
                                </template>
                                <template if:true={responsiveClasses.isMobile}>
                                    <button type="button" class="slds-button slds-button_neutral page_button">{paginator.currentPage} {labels.of} {paginator.totalPages}</button>
                                </template>
                                <template if:true={showNext}>
                                    <button type="button" class="slds-button slds-button_brand" onclick={goNext}>{labels.next}</button>
                                </template>
                            </span>
                        </div>
                        <div class={responsiveClasses.paginator.right}>
                            <template if:false={hideRowsNumberSelector}>
                                <div class="slds-grid">
                                    <div class="slds-col slds-form-element__label slds-p-around_none slds-m-top_x-small slds-m-right_x-small">{labels.show}</div>
                                    <div class="slds-col" style="width: 70px;">
                                        <lightning-combobox
                                            label={labels.show}
                                            variant="label-hidden"
                                            options={pageRowsOptions}
                                            value={paginator.pageSize}
                                            dropdown-alignment="auto"
                                            onchange={changePageSize}
                                        >    
                                        </lightning-combobox>
                                    </div>
                                </div>
                            </template>
                        </div>
                    </div>
                </template>
            </slot>
        </template>
        <div class="slds-grid">
            <div class="slds-col">
                <slot name="bottom-left-actions"> </slot>
            </div>
            <div class="slds-col_bump-left">
                <slot name="bottom-right-actions"> </slot>
            </div>
        </div>
    </div>
    <div class={mainClasses.loader}>
        <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
    </div>
</template>