<template>
    <lightning-combobox label="Tipo Identificación" options={options} placeholder="Seleccione" required="true" value={selectedTipoIdentificacion} onchange={setTipoIdentificacion}></lightning-combobox>
</template>