<template>
  <div class={notifyClass} role="alert">
    <span class="slds-assistive-text">info</span>
    <span class="slds-icon_container slds-m-right_x-small" title={message} if:true={hasIcon}>
      <lightning-icon size="x-small" icon-name={iconName} variant={iconVariant}></lightning-icon>
    </span>
    <h2>
      <slot>{message}</slot>
    </h2>
    <div class="slds-notify__close" if:true={dismissable}>
      <button class="slds-button slds-button_icon slds-button_icon-small slds-button_icon-inverse" title="Close" onclick={dismiss}>
        <svg class="slds-button__icon" aria-hidden="true">
          <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#close"></use>
        </svg>
        <span class="slds-assistive-text">Close</span>
      </button>
    </div>
  </div>
</template>