.provider-img{
    cursor: pointer;
}

.provider-img img{
    max-width: 200px;
    margin: 0 auto;
    display: block;

}

.providers-image{
    margin-top: 20px;
    margin-bottom: 10px;
}

.listview-col {
    width: 100% !important;
}

.spinner-holder {
    position: relative;
    height: 10em;
}