<template>
    <lightning-card title={label.omContentSettings} variant="narrow" icon-name="standard:custom">  
        <lightning-button slot="actions" label={label.omAddnewsetting} onclick={toggleModal} class="slds-m-left_x-small" icon-name="utility:add"></lightning-button>
        <div class="slds-grid slds-wrap slds-grid_vertical-align-end slds-m-around_medium">
            <div class="slds-col listview-col">
                <c-om-list-view 
                    data-id="settingsListView"
                    object="OM_ContentSetting__c"
                    fields="OM_Provider__c,OM_Name__c,OM_Auth_type__c,OM_Has_properties_childs__c,OM_Allow_folder_creation__c,OM_Allow_upload_files__c,OM_Allow_navigation__c,OM_Allow_edit__c"
                    filters="OM_Parent_setting__c = null"
                    record-editable
                    record-deleteable
                    resizable
                    onrecordedit={editCustomSetting}
                    onrecorddelete={deleteRcrd}
                    >
                </c-om-list-view>
            </div>
        </div>
    </lightning-card>
    <c-om-modal if:true={showNewSettingModal} header-label={label.omCreateanewconte} size="medium" onclose={toggleModal} disable-close-outside hide-footer>
        <template if:true={loading}>
            <div class="spinner-holder">
                <lightning-spinner></lightning-spinner>
            </div>
        </template>

        <div class={hiddenIfLoading}>
            <template if:false={existProvider}>
                <h3 class="slds-section__title">
                    <span class="slds-button slds-section__title-action">
                        <span class="slds-truncate" title={label.omSelectaprovider}>{label.omSelectaprovider} :</span>
                    </span>
                </h3>
                <div class="slds-grid slds-wrap providers-image">
                    <div class="slds-col slds-size_1-of-3">
                        <span class="provider-img" data-provider="GoogleDrive" onclick={setProvider}><img src={GoogleDrive}/></span>
                    </div>
                    <div class="slds-col slds-size_1-of-3">
                        <span class="provider-img" data-provider="MicrosoftSharePoint" onclick={setProvider}><img src={MicrosoftSharePoint}/></span>
                    </div>
                    <div class="slds-col slds-size_1-of-3">
                        <span class="provider-img" data-provider="MicrosoftOneDrive" onclick={setProvider}><img src={MicrosoftOneDrive}/></span>
                    </div>
                </div>
            </template>
    
            <lightning-tabset class={tabSetWrapperClass} if:false={showPropertiesSection} >
                <lightning-tab label={label.omMainSettings} onactive={onTabActive}>
                    <lightning-record-edit-form data-id="settingsForm" density="comfy" object-api-name="OM_ContentSetting__c" record-id={record.id} onsubmit={handleSubmit} onsuccess={handleSuccess} onload={onLoadSettingsForm} onerror={onErrorSettingsForm}>
                        <div class="slds-grid slds-grid_align-spread">
                            <div class="slds-col">
                                <span><lightning-button label={label.omBack} title={label.omBack} icon-name="utility:back" class="slds-m-left_x-small" onclick={goHome}></lightning-button></span>
                            </div>
                            <div class="slds-col">
                                <span><span class="provider-img"><img src={selectedProvider}/></span></span>
                            </div>
                            <div class="slds-col">
                                <lightning-button-group>
                                    <lightning-button if:true={notLoggedAndFilledRequiredFields} label={label.omSignIn} icon-name="utility:open" onclick={signIn} disabled={notFilledRequiredFields}></lightning-button>
                                    <lightning-button if:true={logged} variant="destructive" label="Sign Out" icon-name="utility:logout" onclick={signOut}></lightning-button>
                                    <lightning-button variant="brand" type="submit" label={customSettingBtnLabel} disabled={notReadyToSave}></lightning-button>
                                </lightning-button-group>
                            </div>
                        </div>
                        <lightning-messages></lightning-messages>
                        <h3 class="slds-section__title">
                            <span class="slds-button slds-section__title-action">
                                <span class="slds-truncate" title={label.omRequiredfields}>{label.omRequiredfields}</span>
                            </span>
                        </h3>
                        <!-- TOAST SIGN OUT TO EDIT -->
                        <template if:true={showEditLogoutInfo}>
                            <div class="slds-notify_container slds-is-relative">
                                <div class="slds-notify slds-notify_toast slds-theme_warning" role="status">
                                    <span class="slds-assistive-text">warning</span>
                                    <span class="slds-icon_container slds-icon-utility-warning slds-m-right_small slds-no-flex slds-align-top">
                                    <svg class="slds-icon slds-icon_small" aria-hidden="true">
                                        <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#warning"></use>
                                    </svg>
                                    </span>
                                    <div class="slds-notify__content">
                                    <h2 class="slds-text-heading_small ">{label.omYouhavetosignou}</h2>
                                    </div>
                                </div>
                                </div>
                        </template>
                        <div class="slds-grid">
                            <div class="slds-col slds-size_1-of-2">
                                <lightning-input-field field-name="OM_Name__c" data-field="OM_Name__c" onchange={setFieldValue} disabled={disabledAuthParams}></lightning-input-field>
                            </div>
                            <div class="slds-col slds-size_1-of-2">
                                <lightning-input-field field-name="OM_Client_id__c" data-field="OM_Client_id__c" onchange={setFieldValue} disabled={disabledAuthParams}></lightning-input-field>
                            </div>
                        </div>
                        <div class="slds-grid">
                            <div class="slds-col slds-size_1-of-2">
                                <lightning-input-field field-name="OM_Client_secret__c" data-field="OM_Client_secret__c" onchange={setFieldValue} disabled={disabledAuthParams}></lightning-input-field>
                            </div>
                            <div class="slds-col slds-size_1-of-2">
                                <lightning-input-field field-name="OM_Redirect_uri__c" data-field="OM_Redirect_uri__c" value={record.OM_Redirect_uri__c} onchange={setFieldValue} disabled={disabledAuthParams}></lightning-input-field>
                            </div>
                        </div>
                        <div class="slds-grid">
                            <div class="slds-col slds-size_1-of-2">
                                <lightning-input-field field-name="OM_Scope__c" data-field="OM_Scope__c" onchange={setFieldValue} disabled={disabledAuthParams}></lightning-input-field>
                            </div>
                            <div class="slds-col slds-size_1-of-2">
                                <lightning-input-field if:true={isOneDrive} field-name="OM_Is_personal_account__c" data-field="OM_Is_personal_account__c" onchange={setFieldValue}></lightning-input-field>
                            </div>
                        </div>
                        <template if:true={isMicrosoft}>
                            <div class="slds-grid">
                                <div class="slds-col slds-size_1-of-2">
                                    <lightning-input-field field-name="OM_Tenant__c" data-field="OM_Tenant__c" onchange={setFieldValue} disabled={disabledAuthParams}></lightning-input-field>
                                </div>
                                <div class="slds-col slds-size_1-of-2"></div>
                            </div>
                        </template>
                        <div class="slds-grid">
                            <div class="slds-col slds-size_1-of-2">
                                <lightning-input-field field-name="OM_Auth_type__c" data-field="OM_Auth_type__c" onchange={setFieldValue} disabled={disabledAuthParams}></lightning-input-field>
                            </div>
                        </div>
                        <!-- Si no al cargar el record-edit-form no recoge estos campos -->
                        <lightning-input-field class="slds-hide" field-name="OM_Site_Url__c" data-field="OM_Site_Url__c" ></lightning-input-field>
                        <lightning-input-field class="slds-hide" field-name="OM_Site_id__c" data-field="OM_Site_id__c" ></lightning-input-field>
    
                        <template if:true={isMicrosoft}>
                            <div class="slds-grid" if:true={isSharePoint}>
                                <div class="slds-col slds-size_1-of-2">
                                    <lightning-input-field field-name="OM_Site_Url__c" data-field="OM_Site_Url__c" onchange={setFieldValue} disabled={disabledAuthParams}></lightning-input-field>
                                </div>
                                <div class="slds-col slds-size_1-of-2">
                                    <lightning-input-field field-name="OM_Site_id__c" data-field="OM_Site_id__c" disabled value={record.OM_Site_id__c}></lightning-input-field>
                                </div>
                            </div>
                            <div class="slds-grid">
                                <div class="slds-col slds-size_1-of-2">
                                    <lightning-input-field field-name="OM_Drive_id__c" data-field="OM_Drive_id__c" onchange={setFieldValue}></lightning-input-field>
                                </div>
                                <div class="slds-col slds-size_1-of-2">
                                    <lightning-input-field if:true={isOneDrive} field-name="OM_Use_personal_drive__c" data-field="OM_Use_personal_drive__c" onchange={setFieldValue}></lightning-input-field>
                                </div>
                            </div>
                            <h3 class="slds-section__title">
                                <span class="slds-button slds-section__title-action">
                                    <span class="slds-truncate" title={label.omAdditionalfield}>{label.omSettingsTenantDriveList}</span>
                                </span>
                            </h3>
                            <div class="slds-grid slds-wrap">
                                <div class="slds-col slds-size_1-of-1">
                                    <c-om-datatable
                                        unique-field="id"
                                        selectable
                                        resizable
                                        detailable
                                        details-template={omContentSettingsSharepointColumns}
                                        details-data={sharepointColumnsData}
                                        columns={sharepointDrivesColumns}
                                        rows={sharepointDrives}
                                        onselection={handleDriveSelection}
                                        hide-paginator>
                                    </c-om-datatable>
                                </div>
                            </div>
                        </template>
                        <h3 class="slds-section__title slds-var-m-top_small">
                            <span class="slds-button slds-section__title-action">
                                <span class="slds-truncate" title={label.omExplorerSettings}>{label.omExplorerSettings}</span>
                            </span>
                        </h3>
                        <div class="slds-grid slds-wrap">
                            <div class="slds-col slds-size_1-of-2">
                                <lightning-input-field field-name="OM_Columns__c" data-field="OM_Columns__c" onchange={setFieldValue}></lightning-input-field>
                            </div>
                            <div class="slds-col slds-size_1-of-2">
                                <div class="slds-col slds-grid">
                                    <div class="slds-col slds-size_1-of-2">
                                        <lightning-input-field field-name="OM_Allow_folder_creation__c"></lightning-input-field>
                                    </div>
                                    <div class="slds-col slds-size_1-of-2">
                                        <lightning-input-field field-name="OM_Allow_upload_files__c"></lightning-input-field>
                                    </div>
                                </div>
                                <div class="slds-grid">
                                    <div class="slds-col slds-size_1-of-2">
                                        <lightning-input-field field-name="OM_Allow_edit__c"></lightning-input-field>
                                    </div>
                                    <div class="slds-col slds-size_1-of-2">
                                        <lightning-input-field field-name="OM_Allow_navigation__c"></lightning-input-field>
                                    </div>
                                </div>
                                <div class="slds-grid">
                                    <div class="slds-col slds-size_1-of-2">
                                        <lightning-input-field field-name="OM_Allow_deletion__c"></lightning-input-field>
                                    </div>
                                    <div class="slds-col slds-size_1-of-2">
                                        <lightning-input-field field-name="OM_Allow_filters__c"></lightning-input-field>
                                    </div>
                                </div>
                                <div class="slds-grid">
                                    <div class="slds-col slds-size_1-of-2">
                                        <lightning-input-field field-name="OM_Allow_search__c"></lightning-input-field>
                                    </div>
                                    <div class="slds-col slds-size_1-of-2">
                                        <lightning-input-field field-name="OM_Allow_selection__c"></lightning-input-field>
                                    </div>
                                </div>
                                <div class="slds-grid">
                                    <div class="slds-col slds-size_1-of-2">
                                        <lightning-input-field field-name="OM_Allow_tagging__c"></lightning-input-field>
                                    </div>
                                    <div class="slds-col slds-size_1-of-2">
                                        <lightning-input-field field-name="OM_Allow_AI_suggestions__c"></lightning-input-field>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <h3 class="slds-section__title">
                            <span class="slds-button slds-section__title-action">
                                <span class="slds-truncate" title={label.omAdditionalfield}>{label.omAdditionalfield}</span>
                            </span>
                        </h3>
                        
                        <div class="slds-grid">
                            <div class="slds-col slds-size_1-of-2">
                                <lightning-input-field field-name="OM_Initial_folder_id__c"></lightning-input-field>
                            </div>
                            <div class="slds-col slds-size_1-of-2">
                                <lightning-input-field field-name="OM_Action_file_click__c"></lightning-input-field>
                            </div>
                        </div>
                        <div class="slds-grid">
                            <div class="slds-col slds-size_1-of-2">
                                <lightning-input-field field-name="OM_Discovery_docs__c"></lightning-input-field>
                            </div>
                            <div class="slds-col slds-size_1-of-2">
                                <lightning-input-field field-name="OM_Env_ltng_url__c"></lightning-input-field>
                            </div>
                        </div>
                        <div class="slds-grid">
                            <div class="slds-col slds-size_1-of-2">
                                <lightning-input-field field-name="OM_Env_vf_url__c"></lightning-input-field>
                            </div>
                            <div class="slds-col slds-size_1-of-2">
                                <lightning-input-field field-name="OM_Folder_mapping__c"></lightning-input-field>
                            </div>
                        </div>
                        <div class="slds-grid">
                            <div class="slds-col slds-size_1-of-2">
                                <lightning-input-field field-name="OM_Key__c"></lightning-input-field>
                            </div>
                            <div class="slds-col slds-size_1-of-2">
                                <lightning-input-field field-name="OM_NLP_salience_threshold__c"></lightning-input-field>
                            </div>
                        </div>
                        <div class="slds-grid">
                            <div class="slds-col slds-size_1-of-2">
                                <lightning-input-field field-name="OM_Tags_displayed__c"></lightning-input-field>
                            </div>
                            <div class="slds-col slds-size_1-of-2">
                                <lightning-input-field field-name="OM_Show_inline_actions__c"></lightning-input-field>
                            </div>
                        </div>
                        <div class="slds-grid">
                            <div class="slds-col slds-size_1-of-2">
                                <lightning-input-field field-name="OM_GCS_bucket_name__c"></lightning-input-field>
                            </div>
                            <div class="slds-col slds-size_1-of-2">
                                <lightning-input-field field-name="OM_Use_roles__c"></lightning-input-field>
                            </div>
                        </div>
                        <div class="slds-grid">
                            <div class="slds-col slds-size_1-of-2">
                                <lightning-input-field field-name="OM_Use_content_version__c"></lightning-input-field>
                            </div>
                            <div class="slds-col slds-size_1-of-2">
                            </div>
                        </div>
    
                        <lightning-button class="slds-hide" data-id="settingsFormSubmit" type="submit" label="Submit"></lightning-button>
                    </lightning-record-edit-form>
                </lightning-tab>
                <lightning-tab label={label.omGlobalCustomProperties} if:true={existsMainSettings} onactive={onTabActive}>
                    <div class="slds-p-top_medium">
                        <div style="text-align:right">
                            <lightning-button variant="brand" label={label.omAddproperty} onclick={addObjectCustomProperty}></lightning-button>
                        </div>
    
                        <c-om-list-view 
                            data-id="propertiesListView"
                            object="OM_ContentCustomProperty__c"
                            fields="OM_Property_name__c,OM_Salesforce_field_name__c,OM_Editable__c,OM_Filterable__c,OM_As_column__c"
                            filters={settingFilter}
                            record-editable
                            resizable
                            record-deleteable
                            onrecordedit={editCustomProperty}
                            onrecorddelete={deleteRcrd}>
                        </c-om-list-view>
                    </div>
                </lightning-tab>
                <lightning-tab label={label.omObjectSettings} if:true={existsMainSettings}>
                    <!--<h3 class="slds-section__title slds-m-top_small">
                        <span class="slds-button slds-section__title-action">
                            <span class="slds-truncate" title={label.omSpecificsetting}>{label.omSpecificsetting}</span>
                        </span>
                    </h3>-->
    
                    <div style="text-align:right" if:false={objectSetting}>
                        <lightning-button variant="brand" type="submit" label={label.omAddspecificsett} onclick={createChildCustomSetting}></lightning-button>
                    </div>
    
                    <c-om-list-view 
                        if:false={objectSetting}
                        data-id="childSettingsListView"
                        object="OM_ContentSetting__c"
                        fields="OM_Object__c,OM_Criteria__c,OM_Initial_folder_id__c,OM_Initial_folder_path__c,OM_Has_properties_childs__c,OM_Allow_folder_creation__c,OM_Allow_upload_files__c,OM_Allow_navigation__c,OM_Allow_edit__c"
                        filters={childSettingsFilter}
                        record-editable
                        resizable
                        record-deleteable
                        onrecordedit={editChildCustomSetting}
                        onrecorddelete={deleteRcrd}
                    >
                    </c-om-list-view>
    
                    <template if:true={objectSetting}>
                        <div style="text-align:right">
                            <lightning-button-group>
                                <lightning-button label={label.omBack}  onclick={cancelObjectSettingForm}></lightning-button>
                                <lightning-button variant="brand" type="submit" label={label.omSave} disabled={notSelectedObject} onclick={submitObjectSettingForm}></lightning-button>
                            </lightning-button-group>
                        </div>
    
                        <h3 class="slds-section__title slds-var-m-top_small">
                            <span class="slds-button slds-section__title-action">
                                <span class="slds-truncate" title={label.omObjectcriteria}>{label.omObjectcriteria}</span>
                            </span>
                        </h3>
                        <div class="slds-grid slds-wrap">
                            <div class="slds-col slds-size_1-of-6 slds-p-right_small">
                                <c-om-sobject-selector label={label.omSelectobject} original-selected-object={customSetting.OM_Object__c} onselection={setSelectedObject}></c-om-sobject-selector>
                            </div>
                            <div class="slds-col slds-size_4-of-6 slds-p-right_small">
                                <lightning-input label={label.omCriteriaSOQLfo} value={customSetting.OM_Criteria__c} onchange={setCriteria}></lightning-input>
                            </div>
                            <div class="slds-col slds-size_1-of-6" style="padding-top: 24px;">
                                <lightning-button label={label.omCheckquery} onclick={checkQuery}></lightning-button>
                            </div>
                        </div>
                        
                        <lightning-record-edit-form data-id="customSettingsForm" density="comfy" object-api-name="OM_ContentSetting__c" record-id={customSetting.Id} onload={onloadCustomSetting} onsubmit={handleCustomSettingSubmit} onsuccess={handleCustomSettingSuccess} onerror={logError}>
                            <h3 class="slds-section__title">
                                <span class="slds-button slds-section__title-action">
                                    <span class="slds-truncate" title={label.omAdditionalfield}>{label.omExplorerSettings}</span>
                                </span>
                            </h3>
                            <div class="slds-grid">
                                <div class="slds-col slds-size_1-of-2">
                                    <lightning-input-field field-name="OM_Initial_folder_id__c"></lightning-input-field>
                                </div>
                                <div class="slds-col slds-size_1-of-2">
                                    <lightning-input-field field-name="OM_Initial_folder_path__c"></lightning-input-field>
                                </div>
                            </div>
                            <div class="slds-grid">
                                <div class="slds-col slds-size_1-of-2">
                                    <lightning-input-field field-name="OM_Action_file_click__c"></lightning-input-field>
                                </div>
                            </div>
                            <div class="slds-grid slds-wrap">
                                <div class="slds-grid slds-wrap">
                                    <div class="slds-col slds-size_1-of-2">
                                        <lightning-input-field field-name="OM_Columns__c" ></lightning-input-field>
                                    </div>
                                    <div class="slds-col slds-size_1-of-2">
    
                                        <div class="slds-col slds-grid">
                                            <div class="slds-col slds-size_1-of-2">
                                                <lightning-input-field field-name="OM_Allow_folder_creation__c"></lightning-input-field>
                                            </div>
                                            <div class="slds-col slds-size_1-of-2">
                                                <lightning-input-field field-name="OM_Allow_upload_files__c"></lightning-input-field>
                                            </div>
                                        </div>
                                        <div class="slds-grid">
                                            <div class="slds-col slds-size_1-of-2">
                                                <lightning-input-field field-name="OM_Allow_edit__c"></lightning-input-field>
                                            </div>
                                            <div class="slds-col slds-size_1-of-2">
                                                <lightning-input-field field-name="OM_Allow_navigation__c"></lightning-input-field>
                                            </div>
                                        </div>
                                        <div class="slds-grid">
                                            <div class="slds-col slds-size_1-of-2">
                                                <lightning-input-field field-name="OM_Allow_deletion__c"></lightning-input-field>
                                            </div>
                                            <div class="slds-col slds-size_1-of-2">
                                                <lightning-input-field field-name="OM_Allow_filters__c"></lightning-input-field>
                                            </div>
                                        </div>
                                        <div class="slds-grid">
                                            <div class="slds-col slds-size_1-of-2">
                                                <lightning-input-field field-name="OM_Allow_selection__c"></lightning-input-field>
                                            </div>
                                            <div class="slds-col slds-size_1-of-2">
                                                <lightning-input-field field-name="OM_Allow_search__c"></lightning-input-field>
                                            </div>
                                        </div>
                                        <div class="slds-grid">
                                            <div class="slds-col slds-size_1-of-2">
                                                <lightning-input-field field-name="OM_Allow_tagging__c"></lightning-input-field>
                                            </div>
                                            <div class="slds-col slds-size_1-of-2">
                                                <lightning-input-field field-name="OM_Allow_AI_suggestions__c"></lightning-input-field>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <lightning-button variant="brand" data-id="customSettingsFormSubmitBtn" class="slds-hide slds-m-top_small slds-align_absolute-center" type="submit" label={addCustomSettingBtnLabel} disabled={notSelectedObject}></lightning-button>
                        </lightning-record-edit-form>
    
    
                        <lightning-card icon-name="standard:custom" title={label.omAddedproperties}>
                            <lightning-button label={label.omAddproperty} variant="brand" onclick={addObjectCustomProperty} slot="actions"></lightning-button>
    
                            <c-om-list-view 
                                data-id="objectPropertiesListView"
                                object="OM_ContentCustomProperty__c"
                                fields="OM_Property_name__c,OM_Salesforce_field_name__c,OM_Editable__c,OM_Filterable__c,OM_As_column__c"
                                filters={objectCustomProperyFilter}
                                record-editable
                                record-deleteable
                                onrecordedit={editCustomProperty}
                                onrecorddelete={deleteRcrd}>
                            </c-om-list-view>
                        </lightning-card>
    
                    </template>
                </lightning-tab>
            </lightning-tabset>
    
            <template if:true={showPropertiesSection}>
                <h3 class="slds-section__title slds-var-m-bottom_x-small">
                    <span class="slds-button slds-section__title-action">
                        <span class="slds-truncate" title={label.omAddingnewproper}>{label.omAddingnewproper}</span>
                    </span>
                </h3>
                <lightning-record-edit-form data-id="propertiesForm" density="comfy" object-api-name="OM_ContentCustomProperty__c" record-id={propertyId} onsubmit={handleSummitProperty} onsuccess={handleSuccessProperty} onerror={logError}>
                    <div class="slds-grid slds-grid_align-end">
                        <div class="slds-col">
                            <lightning-button-group>
                                <lightning-button label={label.omBack}  onclick={cancelPropertyForm}></lightning-button>
                                <lightning-button variant="brand" type="submit" label={addPropertyBtnLabel}></lightning-button>
                            </lightning-button-group>
                        </div>
                    </div>
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-2">
                            <lightning-input-field field-name="OM_Property_name__c"></lightning-input-field>
                        </div>
                        <div class="slds-col slds-size_1-of-2">
                            <lightning-input-field field-name="OM_Salesforce_field_name__c"></lightning-input-field>
                        </div>
                    </div>
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-2">
                            <lightning-input-field field-name="OM_Editable__c"></lightning-input-field>
                        </div>
                        <div class="slds-col slds-size_1-of-2">
                            <lightning-input-field field-name="OM_Filterable__c"></lightning-input-field>
                        </div>
                    </div>
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-2">
                            <lightning-input-field field-name="OM_As_column__c"></lightning-input-field>
                        </div>
                        <div class="slds-col slds-size_1-of-2"></div>
                    </div>
                    <lightning-messages></lightning-messages>
                    
                </lightning-record-edit-form>
                <!--<div class="slds-p-top_medium">
                    <h3 class="slds-section__title">
                        <span class="slds-button slds-section__title-action">
                            <span class="slds-truncate" title={label.omAddedproperties}>{label.omAddedproperties}</span>
                        </span>
                    </h3>
                    <c-om-list-view 
                        data-id="propertiesListView"
                        object="OM_ContentCustomProperty__c"
                        fields="OM_Property_name__c,OM_Salesforce_field_name__c,OM_Editable__c,OM_Filterable__c,OM_As_column__c"
                        filters={settingFilter}
                        record-editable
                        record-deleteable
                        onrecordedit={editCustomProperty}
                        onrecorddelete={deleteRcrd}>
                    </c-om-list-view>
                </div>-->
            </template>
        </div>
    </c-om-modal>
    
</template>