<template>
  <div style={wrapperStyle}>
    <div class="slds-docked_container" style="z-index: 90">
        <section class="slds-docked-composer slds-grid slds-grid_vertical slds-is-open" role="dialog" aria-labelledby="dialog-heading-id-1" aria-describedby="dialog-content-id-1">
            <header class="slds-docked-composer__header slds-grid slds-shrink-none" aria-live="assertive">
                <div class="slds-media slds-media_center slds-no-space">
              <div class="slds-media__figure slds-var-m-right_x-small">
                <slot name="icon">
                    <lightning-icon icon-name={iconName} size="small" ></lightning-icon>
                </slot>
              </div>
              <div class="slds-media__body">
                <h2 class="slds-truncate" id="dialog-heading-id-1" title={title}>{ title }</h2>
              </div>
                </div>
                <div class="slds-col_bump-left slds-shrink-none">
                    <button class="slds-button slds-button_icon slds-button_icon" title="Minimize window">
                        <lightning-icon icon-name="utility/minimize_window" size="button" ></lightning-icon>
                        <span class="slds-assistive-text">Minimize Panel</span>
                  </button>
                  <button class="slds-button slds-button_icon slds-button_icon" title="Expand Composer">
                        <lightning-icon icon-name="utility/expand_alt" size="button" ></lightning-icon>
                        <span class="slds-assistive-text">Expand Panel</span>
                  </button>
                  <button class="slds-button slds-button_icon slds-button_icon" title="Close">
                    <lightning-icon icon-name="utility/close" size="button" ></lightning-icon>
                    <span class="slds-assistive-text">Close Panel</span>
                  </button>
                </div>
            </header>
            <div class="slds-docked-composer__body" id="dialog-content-id-1">
                <slot></slot>
            </div>
            <footer class="slds-docked-composer__footer slds-shrink-none">
                <div class="slds-col_bump-left slds-text-align_right ">
                    <slot name="actions"></slot>
                </div>
            </footer>
        </section>
    </div>
  </div>
</template>