<!--
  @File Name          : omCard.html
  @Description        : 
  @Author             : dcastellon@omegacrmconsulting.com
  @Group              : 
  @Last Modified By   : dcastellon@omegacrmconsulting.com
  @Last Modified On   : 14/11/2019 18:01:17
  @Modification Log   : 
  Ver       Date            Author      		    Modification
  1.0    22/10/2019   dcastellon@omegacrmconsulting.com     Initial Version
-->
<template>
    <div>
        <div class="slds-card">
            <div class="slds-card__header slds-grid">
                <header class="slds-media slds-media_center slds-has-flexi-truncate">
                    <div class="slds-media__figure">
                        <lightning-icon icon-name={icon}></lightning-icon>
                    </div>
                    <div class="slds-media__body">
                        <h2 class="slds-card__header-title">
                            <span><strong>
                                {cardLabel}
                            <template if:true={count}>
                                &nbsp;({count})
                            </template>
                            </strong></span>
                        </h2>
                    </div>
                    <div class="slds-no-flex">
                        <slot name="header-button-group"></slot>
                    </div>
                </header>
            </div>
            <div class="slds-card__body slds-card__body_inner">
                <slot name="body"></slot>
                <slot></slot>
            </div>
            <footer class="slds-card__footer">
                <slot name="footer"></slot>
            </footer>
        </div>
    </div>
</template>