<template>
  <span>
    <span class="tags-container">
        <template iterator:it={tags}>
          <lightning-pill key={it.value} label={it.value} data-tag={it.value} onremove={removeTag}></lightning-pill>
        </template>

        <!-- <template v-for="tag, index in tags">
        </template> -->

        <!-- <span v-if="tags.length > tagsDisplayed" class="tag badge badge-button slds-badge slds-badge_lightest" role="button" onclick="toggleViewAllTags()">
          <span v-if="!viewAllTags">
              <lightning-icon icon-name="utility:add" size="small"></lightning-icon> View all tags
          </span>
          <span v-else>
              <lightning-icon icon-name="utility:dash" size="small"></lightning-icon> View less
          </span> 
      </span> -->
    </span>

    <div if:true={addingTags} class="slds-grid slds-p-top_small">
        <lightning-input type="text" value={currentTag} class="currentTagInput" style="max-width: 120px" onchange={onTagChange} variant="label-hidden"></lightning-input>
        <lightning-button class="slds-m-left_small" label="Add" icon-name="utility:add" onclick={addCurrentTag} disabled={hasCurrentTag}></lightning-button>
        <lightning-button class="slds-m-left_small" label="Cancel" variant="destructive" icon-name="utility:clear" onclick={cancelAddInlineTags} ></lightning-button>
    </div>
    <div if:true={showButton} class="slds-p-top_small">
        <lightning-button label="Add tag" variant="brand" icon-name="utility:insert_tag_field" onclick={beginAddInlineTags}></lightning-button>
    </div>
  </span>
</template>