<template>

    <!-- <div if:true={isEnCurso}> -->

        <!-- Brand variant: Identifies the primary action in a group of buttons -->
        <!-- <lightning-card style="background-color: rgb(243,243,243);"> -->
        <!-- <lightning-card style="background-color: red;"> -->
        <div style="text-align: center; background-color: rgb(243,243,243); border: 1px solid rgb(201,201,201); border-radius: 5px; padding: 1%;">
            <lightning-button variant="neutral" label="Firma Digital" title="Firma Digital" onclick={startLogic} class="slds-m-left_x-small"></lightning-button>
        </div>
        <!-- </lightning-card> -->
        <div if:true={showCMP}>
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container">
                    <!-- Modal/Popup Box LWC header here -->
                    <header class="slds-modal__header">
                        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                            <lightning-icon icon-name="utility:close"
                                alternative-text="close"
                                variant="inverse"
                                size="small" ></lightning-icon>
                            <span class="slds-assistive-text">Close</span>
                        </button>
                        <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Firma Digital</h2>
                    </header>
                    <!-- Modal/Popup Box LWC body starts here -->
                    <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                        <div if:true={vError}>
                        
                            <div class="slds-notify slds-notify_toast slds-theme_error">
                                <div class="slds-notify__content">
                                    <p class="slds-align_absolute-center">{vErrorMessage}</p>
                                </div>
                            </div>
                        </div>    
                        <template if:false={error}>
                            <lightning-combobox
                                name="idioma"
                                label={Label.Selecciona_Idioma}
                                value={idiomaSelec}
                                options={languageList}
                                onchange={handleChange} ></lightning-combobox>
    
                            <lightning-input type="text" label={Label.Tipo_Contrato} value={contractType} disabled="true"></lightning-input>
                            <br/>
                            <br/>
                            <!-- <lightning-input type="text" label={Label.Nombre_Tutor} value={cName}></lightning-input> -->
                        
                            <template if:true={osasunbidea}>
                                <lightning-input type="text" label={Label.DNI_Tutor} value={nif_tutor}></lightning-input>
                            </template>
                            
                            <lightning-input type="text" label={Label.DNI_Paciente} name="nif" value={nif} onchange={handleChange}></lightning-input>
                            <lightning-input type="text" label={Label.Ciudad_Firma} name="city" value={city} onchange={handleChange}></lightning-input>
                            <br/>
                            <br/>
                        
                            <template if:true={osasunbidea}>
                                <lightning-input type="text" label={Label.En_Calidad} value={en_calidad}></lightning-input>
                                <template if:false={osasunbidea}>
                                    <lightning-input type="text" label={Label.DNI_Tutor} value={nif_tutor}></lightning-input>
                                </template>
                            </template>
                            
    
                            <div class="slds-grid slds-m-top_xx-large">
                                <div if:true={isAlta} class="slds-col">
                                    <lightning-button value="cons" label={Label.Firmar_Consentimiento} class="slds-m-right_xx-large" onclick={handleClick}></lightning-button>
                                    <lightning-button value="parte_visita" label='Parte Visita' class="slds-m-right_xx-large" onclick={handleClick}></lightning-button>
                                </div>
    
                                <div if:true={isBaja} class="slds-col">
                                    <lightning-button value="baja" label={Label.Firmar_Baja} onclick={handleClick}></lightning-button>
                                    <lightning-button value="parte_visita" label='Parte Visita' class="slds-m-right_xx-large" onclick={handleClick}></lightning-button>
    
                                </div>
    
                                <div if:true={isVisita} class="slds-col">
                                    <lightning-button value="parte_visita" label='Parte Visita' onclick={handleClick}></lightning-button>
                                </div>
                                
                            </div>
                            
                        </template>
    
                    </div>
                    <footer class="slds-modal__footer">
                        <button class="slds-button slds-button_neutral" onclick={closeModal} title="Cancel">Cancel</button>
                    </footer>
                    </div>
                    <!-- Modal/Popup Box LWC footer starts here -->
                    
                <!-- </div> -->
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>
    <!-- </div> -->
</template>