<template>
  <div>
    <div if:true={initialized}>
      <span>
        <span if:false={uploading}>
          <lightning-input if:true={signedIn} type="file" label="Select file to upload **" onchange={onFileSelected}></lightning-input>
          <lightning-button label="Sign In **" icon-name="utility:open" onclick={signIn} if:false={signedIn}></lightning-button>
        </span>
  
        <span if:true={uploading}>
          <div>Uploading file... **</div>
          <lightning-progress-bar value={progress} size="large"></lightning-progress-bar>
        </span>
      </span>
    </div>
  </div>
</template>