<!--
  @File Name          : omSelect.html
  @Description        : 
  @Author             : dcastellon@omegacrmconsulting.com
  @Group              : 
  @Last Modified By   : dcastellon@omegacrmconsulting.com
  @Last Modified On   : 01-20-2022
  @Modification Log   : 
  Ver       Date            Author      		    Modification
  1.0    5/11/2019   dcastellon@omegacrmconsulting.com     Initial Version
-->
<template>
    <div>
        <template if:true={isMultiple}>
            <template if:true={multiple1}>
                <lightning-dual-listbox name="duallistbox"
                    label={getLabel}
                    value={getValue}
                    required={required}
                    disabled={disabled}
                    source-label={sourceLabel}
                    selected-label={selectedLabel}
                    field-level-help={fieldLevelHelp}
                    min={min}
                    max={max}
                    options={records}
                    onblur={handleBlur}
                    onchange={handleChange}>
                </lightning-dual-listbox>
                <template if:false={hideAllButtons}>
                    <div class="slds-m-top_medium">
                        <lightning-button label={labels.selectAll} title={labels.selectAll} onclick={selectAll} class="slds-m-right_x-small"></lightning-button>
                        <lightning-button label={labels.deselectAll} title={labels.deselectAll} onclick={deselectAll} class="slds-m-right_x-small"></lightning-button>
                    </div>
                </template>
            </template>
            <template if:true={multiple2}>
                <div class="close-div-combo" style="height: 100vh; width: 100vw; position:fixed; top: 0; left: 0; display:none; z-index: 100"  onclick={closeDiv}></div>
                    <div class="slds-form-element">
                        <template if:true={fieldLabel}>
                            <label class="slds-form-element__label" variant="label-hidden">{fieldLabel}</label>
                        </template>
                        <div class="slds-form-element__control">
                            <div class="slds-combobox_container">
                                <div class={comboStyle} aria-expanded="true" aria-haspopup="listbox" role="combobox" onclick={toggleCombo}>
                                    <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
                                        <input type="text" class="slds-input slds-combobox__input slds-combobox__input-value" id="combobox-id" autocomplete="off" role="textbox" placeholder="Select an Option…" readonly="" value={selectedOptionsLabel} />
                                        <span class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right">
                                            <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                                                <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#down"></use>
                                            </svg>
                                        </span>
                                    </div>
                                    <div id="listbox" class="slds-dropdown slds-dropdown_length-5 slds-dropdown_fluid" role="listbox">
                                        <ul class="slds-listbox slds-listbox_vertical" role="presentation">
                                            <template for:each={_records} for:item="option">
                                                <li key={option.value} class="slds-listbox__item" data-option={option.value} data-value={option.selected} onclick={setOption}>
                                                    <div aria-checked="true" id={option.value} class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-is-selected" role="option">
                                                        <template if:true={option.selected}>
                                                            <span class="slds-media__figure slds-listbox__option-icon">
                                                                <span class="slds-icon_container slds-icon-utility-check slds-current-color">
                                                                    <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                                                                        <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#check"></use>
                                                                    </svg>
                                                                </span>
                                                            </span>
                                                        </template>
                                                        <span class="slds-media__body">
                                                            <span class="slds-truncate" title={option.label}>{option.label}</span>
                                                        </span>
                                                    </div>
                                                </li>
                                            </template>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </template>
        </template>
        <template if:false={isMultiple}>
            <lightning-combobox
                variant={variantLabel}
                name="combobox"
                label={getLabel}
                value={getValue}
                required={required}
                disabled={disabled}
                placeholder={placeholder}
                options={records}
                onblur={handleBlur}
                onchange={handleChange} >
            </lightning-combobox>
        </template>
    </div>
</template>