.miclasemortal {
  background-color: cadetblue
}

.miclasemortal td {
  background-color: cadetblue
}

td[data-column="name"] {
  background-color: yellow !important;
}

tr[data-value^="A"] {
  background-color: green !important;
}

tr[data-value^="A"]:hover td {
  background-color: lightgreen !important;
}

tr[data-value^="A"] td:hover {
  background-color: lightgreen !important;
}
