<template>
    <div class="slds-grid">
        <!-- <img src={row.item.iconLink} />&nbsp;&nbsp; -->
        <template if:false={inTile}>
            <lightning-icon  icon-name={row.item._sldsIcon} size="x-small"></lightning-icon> &nbsp;&nbsp;
        </template>
        <a class="slds-truncate" onclick={sendEventFromDataset} data-event="fileclick" data-id={row.item.id} data-name={rowValue}>{rowValue}</a>
    </div>
</template>