<template>

  <div if:false={showSelectorDirectly}>

    <lightning-button label={buttonLabel} onclick={beginSelection}></lightning-button>
    
    <c-om-modal 
      if:true={showSelectionModal}
      header-label="Select object"
      onclose={closeModal}
      oncancel={closeModal}
      onsave={saveSelection}>

      <div style="min-height: 400px">
        
        <lightning-combobox
          label={label}
          value={originalSelectedObject}
          class="slds-m-bottom_small"
          placeholder="Select sObject"
          options={objectList}
          onchange={handleObjectChange}
          >
        </lightning-combobox>
        
        <lightning-datatable
          if:true={showFieldSelection}
          key-field="name"
          columns={fieldColumns}
          data={availableFields}
          onrowselection={handleSelectedFields}
          >
        </lightning-datatable>

      </div>
    </c-om-modal>
  </div>

  <div if:true={showSelectorDirectly}>
    <lightning-combobox
        name="progress"
        label={label}
        value={originalSelectedObject}
        class="slds-m-bottom_small"
        placeholder="Select sObject"
        options={objectList}
        onchange={handleObjectChange}
        >
      </lightning-combobox>
  </div>
</template>