<template>
  <div>  
    <template if:true={error}>
      <c-om-alert icon-name="utility:warning" level="warning" message="We cannot load help **"></c-om-alert>
    </template>
    <template if:false={error}>
      <iframe src={helpSectionUrl} class="helpIframe"></iframe>
    </template>
  </div>
</template>