.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
  
.tooltip .tooltiptext {    
    border-radius: 6px;
    margin-bottom: 3px;
    padding: 10px;
    position: absolute;
    z-index: 15;
    bottom: 100%;
    left: 50%; 
    margin-left: -75px;
}