<!--
  @File Name          : omTooltip.html
  @Description        : 
  @Author             : dcastellon@omegacrmconsulting.com
  @Group              : 
  @Last Modified By   : dcastellon@omegacrmconsulting.com
  @Last Modified On   : 20/11/2019 18:33:06
  @Modification Log   : 
  Ver       Date            Author      		    Modification
  1.0    18/11/2019   dcastellon@omegacrmconsulting.com     Initial Version
-->
<template>
    <span class={uniqueClass} lwc:dom="manual">
    </span>
    <span class="tooltip" onmouseover={toggleShow} onmouseout={toggleShow}>
        <lightning-icon icon-name={icon} size={size}></lightning-icon>
        <template if:true={show}>
            <span class="tooltiptext">
                <lightning-formatted-rich-text value={value}></lightning-formatted-rich-text> 
            </span>
        </template>
    </span>
</template>