<!--
  @File Name          : omLookup.html
  @Description        : 
  @Author             : dcastellon@omegacrmconsulting.com
  @Group              : 
  @Last Modified By   : OmegaCRM 
  @Last Modified On   : 04-08-2021
  @Modification Log   : 
  Ver       Date            Author      		    Modification
  1.0    29/10/2019   dcastellon@omegacrmconsulting.com     Initial Version
-->
<template>
    <!-- Standard lookup -->
    <template if:true={isStandard}>
        <div>
            <div class={formElementClass}>
                <label if:true={showLabel} class="slds-form-element__label" for="om-lookup-input"><abbr class="slds-required" title="required">{asterisk}</abbr>{label}</label>
                <div class="slds-form-element__control">
                    <div class={comboboxGroupClass}>
                        <div class="slds-combobox_object-switcher slds-combobox-addon_start" if:true={multiEntity}>
                            <!--<lightning-combobox options={entities} variant="label-hidden" onchange={onChangeObjectType} disabled={isComboboxDisabled}></lightning-combobox>-->
                            <lightning-combobox options={entities} variant="label-hidden" onchange={onChangeObjectType} ></lightning-combobox>
                        </div>
                        <div contenteditable="true" class={comboboxContainerClass}>
                            <div class={txtclassname} data-id="resultBox" aria-expanded="false" aria-haspopup="listbox" role="combobox">
                                <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon slds-input-has-icon_left-right" role="none">
                                    
                                    <input
                                        id="om-lookup-input"
                                        placeholder={placeholder}
                                        type="text"
                                        required={required}
                                        disabled={isDisabled}
                                        data-id="userinput"
                                        onclick={resetAndSearch}
                                        onfocusout={onblurInput}
                                        onfocus={onFocus}
                                        oninput={searchField}
                                        value={selectRecordName}
                                        class={comboboxInputClass}
                                        autocomplete="off"
                                    />
                                    <div>
                                        <lightning-icon if:true={hasIcon} class="slds-combobox__input-entity-icon" icon-name={iconName} size="x-small"  alternative-text="icon" ></lightning-icon>
                                        <lightning-button-icon if:true={iconFlag} class="slds-input__icon slds-input__icon_right pointable-icon" variant="bare" icon-name="utility:search" size="small" alternative-text="icon" onmousedown={onIconSearchClick} ></lightning-button-icon>
                                        <lightning-button-icon if:true={clearIconFlag} class="slds-input__icon slds-input__icon_right pointable-icon" variant="bare" icon-name="utility:close" size="small" alternative-text="icon" onmousedown={resetAndSearch} data-action="clear" ></lightning-button-icon>
                                    </div>
                                </div>
                                <!-- Second part display result -->
                                <template if:true={searchRecordsCount}>
                                    <div class="slds-dropdown slds-dropdown_length-with-icon-7 slds-dropdown_fluid" role="listbox">
                                        <ul class="slds-listbox slds-listbox_vertical" role="presentation">
                                            <template for:each={_searchRecords} for:item="serecord">
                                                <li role="presentation" class="slds-listbox__item" key={serecord.recId}>
                                                    <div data-id={serecord.recId} data-name={serecord.recName} onmousedown={setSelectedRecord} class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta" role="option">
                                                        <span if:true={hasIcon} class="slds-media__figure">
                                                            <lightning-icon icon-name={iconName} size="small"></lightning-icon>
                                                        </span>
                                                        <span class="slds-media__body">
                                                            <span class="slds-listbox__option-text slds-listbox__option-text_entity">{serecord.recName}</span>
                                                        </span>
                                                    </div>
                                                </li>
                                            </template>
                                        </ul>
                                    </div> 
                                </template>
    
                                <div if:true={hasError} class="slds-form-element__help">{errorMessage}</div>
    
                                <div if:true={messageFlag}>
                                    {labels.noResultFound}
                                </div>
                                <div if:true={loadingText} class="slds-dropdown slds-dropdown_length-with-icon-7 slds-dropdown_fluid">
                                    <ul class="slds-listbox slds-listbox_vertical" role="presentation">
                                        <li role="presentation" class="slds-listbox__item" style="position:realtive; display: inline-block; height: 30px">
                                            <lightning-spinner size="small" alternative-text={labels.loading}></lightning-spinner>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <template if:true={hasSelection}>
                        <div if:true={multiselectable} class="slds-listbox_selection-group">
                            <ul class="slds-listbox slds-listbox_horizontal" role="listbox" aria-label="Selected Options:" aria-orientation="horizontal">
                              <li class="slds-listbox-item" role="presentation">
                                <template if:false={isDisabled}>
                                    <lightning-pill for:each={selectedRecords} for:item="selected" key={selected.Id} data-id={selected.Id} label={selected._name} onremove={handleRemoveSelection}>
                                        <lightning-icon icon-name={selected._icon}  alternative-text="icon"></lightning-icon>
                                    </lightning-pill>
                                </template>
                                <template if:true={isDisabled}>
                                    <template for:each={selectedRecords} for:item="selected">
                                        <span key={selected.Id} data-id={selected.Id} class="slds-pill slds-pill_link">
                                            <span class="slds-pill__icon_container">
                                              <span class="slds-icon_container">
                                                <lightning-icon icon-name={selected._icon}  alternative-text="icon"></lightning-icon>
                                              </span>
                                            </span>
                                            <p class="slds-pill__action" title={selected._name}>
                                              <span class="slds-pill__label">{selected._name}</span>
                                            </p>
                                          </span>
                                    </template>
                                </template>
                              </li>
                            </ul>
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </template>
    <!-- Button to modal option -->
    <template if:true={modalLookup}>
        <c-om-modal 
            header-label={modalHeaderLabel}
            oncancel={toggleModal}
            onclose={toggleModal}
            onsave={onsaveModal}>
            <span slot="body">
                <template if:true={isListView}>
                    <c-om-list-view 
                        object={sobject}
                        fields={sobjectFields}
                        filters={filter}
                        selected-records={selectedItems}
                        onselection={onselection}
                        unique-field={uniqueField}
                        show-search-input={searchInTable}
                        hide-paginator={hidePaginator}
                        hide-number-buttons={hideNumberButtons}
                        hide-control-buttons={hideControlButtons}
                        selectable
                        multiselectable={multiselectable}
                        datetime-format={datetimeFormat}>
                    </c-om-list-view>
                </template>
                <template if:false={isListView}>
                    <c-om-datatable 
                        unique-field={uniqueField}
                        columns={tableColumns}
                        rows={rows}
                        selected-records={selectedItems}
                        onselection={onselection}
                        show-search-input={searchInTable}
                        hide-paginator={hidePaginator}
                        hide-number-buttons={hideNumberButtons}
                        hide-control-buttons={hideControlButtons}
                        selectable
                        multiselectable={multiselectable}
                        datetime-format={datetimeFormat}>
                    </c-om-datatable>
                </template>
            </span>
        </c-om-modal>
    </template>
    <template if:true={isButton}>
        <span>
            <button type="button" class="slds-button" onclick={toggleModal} style={disabledButtonCursor}>
                <lightning-icon icon-name={icon} size="small" variant="brand"></lightning-icon>
            </button>
        </span>
    </template>
</template>