<!--
-->
<template>
    <div style="min-height: 80px">
      <div if:false={isWorking}>
        <lightning-input type="file" label="Select a file" onchange={onDroppedFile}></lightning-input>
        <div if:true={displayResults}>
          <lightning-tabset>
            <lightning-tab label={successLabel} title="Dataload successes">
              <c-om-datatable unique-field="row" rows={resultSuccesses} columns={resultColumns}></c-om-datatable>
            </lightning-tab>
            <lightning-tab label={errorLabel} title="Dataload errors">
              <c-om-datatable unique-field="row" rows={resultErrors} columns={resultColumns}></c-om-datatable>
            </lightning-tab>
          </lightning-tabset>
        </div>
      </div>

      <a id="downloader" class="slds-hide"></a>

      <div if:true={isWorking}>
        <div>The file is being processing</div>
        <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
      </div>
    </div>
</template>