<template>
    <div class={cellGridClass} data-id="col" >
        <a class="slds-th__action slds-text-link_reset slds-truncate" role="button" onclick={onHeaderClick}>
            <span class="slds-assistive-text" if:false={exporting}>Sort by: </span>
            <div class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate width-calculation-element">
                <template if:false={exporting}>
                    <template if:true={hasHeaderIcon}>
                        <lightning-icon class="slds-var-m-right_xx-small" icon-name={cellAttributes.headerIconName} size="x-small"></lightning-icon>
                    </template>
                </template>
                <span class="slds-truncate" title={column.label}>
                    {column.label}
                </span>
                <template if:true={isSortable} >
                    <span class="slds-icon_container slds-icon-utility-arrowdown">
                        <svg class="slds-icon slds-icon-text-default slds-is-sortable__icon" aria-hidden="false">
                            <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#arrowdown"></use>
                        </svg>
                    </span>
                </template> 
            </div>
        </a>

        <template if:false={exporting} >
            <span class="header-actions">
                <lightning-button-menu 
                    if:false={actionsHidden}
                    onclick={onActionsClick}
                    onselect={handleActionSelect}
                    menu-alignment="right"
                    variant="bare"
                    icon-name="utility:chevrondown"
                    class="header-actions-button">
                    <lightning-menu-item value="hide" label={labels.omHide} checked={column.hidden} icon-name="utility:hide" if:true={column.hidable}></lightning-menu-item>
                    <lightning-menu-item value="wrap" label={labels.omWrap} checked={column.wrapText} icon-name="utility:enter"></lightning-menu-item>
                    <lightning-menu-item value="stack" label={labels.omStack} icon-name="utility:freeze_column" checked={column.stacked} if:true={column.stackable}></lightning-menu-item>
                    <lightning-menu-item value="exact" label={labels.omExact}  icon-name="utility:assignment" checked={column.filterAttributes.exact} if:true={column.filterable}></lightning-menu-item>
                    <lightning-menu-item value="onlydates" label={labels.omOnlyDates}  icon-name="utility:date_input" checked={column.filterAttributes.onlyByDates} if:true={isDateType}></lightning-menu-item>
                </lightning-button-menu>
            </span>
            <div class="slds-resizable" if:true={resizable}>
                <input aria-label="Name column width" class="slds-resizable__input slds-assistive-text" max="1000" min="20" tabindex="0" type="range" />
                <span class="slds-resizable__handle">
                    <span class="slds-resizable__divider" onmousedown={beginResize}></span>
                </span>
            </div>
        </template>
    </div>
</template>