.om-datatable-head {
    height: 100%;
    display: flex;
    align-items: center;
}

.header-actions {
    /*position: absolute;
    top: 20%;
    right: var(--lwc-spacingXxSmall,0.25rem);*/
    /*z-index: 90;*/
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 50%;
    right: var(--lwc-spacingXxSmall,0.25rem)
}

.header-actions-button {
}

.slds-resizable__divider {
    z-index: 1 !important;
    width: 77% !important;
}

.slds-resizable__divider:after {
    height: 0px !important;
}