<template>
  <lightning-card>

    <template if:true={isLoading}>
      <lightning-spinner
        alternative-text="Getting sObjects"
        size="medium"
      ></lightning-spinner>
    </template>
    <template if:false={isLoading}>
      <div class="slds-p-around_small">

        <lightning-progress-indicator current-step={currentStep} type="base" variant="base">
          <lightning-progress-step label="Base plan object" value="1"></lightning-progress-step>
          <lightning-progress-step label="Generate tree" value="2"></lightning-progress-step>
          <lightning-progress-step label="Fake data" value="3"></lightning-progress-step>
          <lightning-progress-step label="Download files" value="4"></lightning-progress-step>
        </lightning-progress-indicator>

        <template if:true={isStep1}>
          <div class="slds-grid slds-grid_vertical-align-end">
            <lightning-input
              type="number"
              label="Number of records"
              value={numberOfRecords}
              class="slds-m-right_x-small"
            ></lightning-input>
  
            <!-- <lightning-combobox
              name="progress"
              label="Status"
              value={selectedObject}
              class="slds-m-right_x-small"
              placeholder="Select sObject"
              options={objectList}
              onchange={handleObjectChange}
            >
            </lightning-combobox> -->

            <c-om-sobject-selector
              label="Select root object"
              select-fields
              onselection={handleObjectChange}>
            </c-om-sobject-selector>
          
  
            <lightning-button
              onclick={addToSelection}
              label="Add base object"
              class="slds-m-right_x-small"
            ></lightning-button>
          </div>
          <!-- <template if:true={hasSelection}>
            <h2>Select fields for {selectedObject}</h2>
            <lightning-datatable
              key-field="name"
              columns={fieldColumns}
              data={selectionFields}
              onrowselection={handleSelectedFields}
            ></lightning-datatable>
          </template> -->
        </template>


        <template if:true={isStep2}>
          <div class="slds-grid slds-grid_vertical-align-end">
            <h2>Faked data preview</h2>
            <lightning-button
              onclick={getFakeData}
              label="Fake data"
              class="slds-m-right_x-small"
            ></lightning-button>
          </div>

          <template for:each={dataToFake} for:item="fakedOb">
              <div key={fakedOb.object}>
                <h3>
                  Root object {fakedOb.object}
                  <c-om-sobject-selector
                    select-fields
                    sobject={fakedOb.object}
                    data-object={fakedOb.object}
                    onselection={saveChildSelectionModal}>
                  </c-om-sobject-selector>

                  <!-- <lightning-button
                    onclick={openChildSelectionModal}
                    data-object={fakedOb.object}
                    label="Add children object"
                    class="slds-m-right_x-small"
                    ></lightning-button> -->
                </h3>
                <ul class="slds-is-nested">
                  <template for:each={fakedOb.children} for:item="childFaceObj">
                    <li key={childFaceObj.object}>
                      {childFaceObj.object} ( {childFaceObj.fields.length} fields)
                      <c-om-sobject-selector
                        select-fields
                        data-object={childFaceObj.object}
                        sobject={childFaceObj.object}
                        onselection={saveChildSelectionModal}>
                      </c-om-sobject-selector>
                      <!-- <lightning-button
                        onclick={openChildSelectionModal}
                        data-object={childFaceObj.object}
                        label="Add children object"
                        class="slds-m-right_x-small"
                      ></lightning-button> -->
                  </li>
                  </template>
                </ul>
                
              </div>
          </template>
          
          <!-- <c-om-modal header-label="Children selection" if:true={childrenModal.show} onclose={closeChildSelectionModal} onsave={saveChildSelectionModal}>
            <div slot="body" style="min-height: 200px">
              <c-om-select label="Children relationships" records={availableChildrens} onselect={handleChidrenObjectChange}></c-om-select>
              Has children selection {hasChildrenSelection}
              <div if:true={hasChildrenSelection}>
                <lightning-datatable
                  key-field="name"
                  columns={fieldColumns}
                  data={selectionFields}
                  onrowselection={handleSelectedFields}
                ></lightning-datatable>
              </div>
            </div>
          </c-om-modal> -->
        </template>


        Data to fake : 
        <pre>
          {dataToFakeStr}
        </pre>

      </div>
    </template>
  </lightning-card>
</template>