.clickable {
    cursor: pointer;
    color: blue;
}

.compact {
    padding: 0px !important
}

.clickable:hover {
    text-decoration: underline;
}

.width-calculation-element {
    display: inline-block;
}

.om-datatable-cell {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 5px;
}