<template>
    <span class={cellGridClass} style={_cellStyle}>
        <template if:true={showEdition}>
            <section if:false={isCheckbox} aria-describedby={column.label} class="slds-popover slds-popover slds-popover_edit" role="dialog" style="position: absolute; top: 0px; left: 0.0625rem;">
                <div class="slds-popover__body" id={column.label}>
                    <div class="slds-form-element slds-grid slds-wrap">
                        <label class="slds-form-element__label slds-form-element__label_edit slds-no-flex" for={column.label}>
                            <span class="slds-assistive-text">{column.label}</span>
                        </label>
                        <div class="slds-form-element__control slds-grow">
                            <c-om-datatable-input
                                data-col={column.key}
                                column={column}
                                row={row}
                                onchange={onInputChange}
                                onenter={onInputEnter}
                                ontabulation={onInputTab}
                                onblur={onInputBlur}
                                tab-index={tabIndex}
                                >
                            </c-om-datatable-input>
                        </div>
                    </div>
                </div>
            </section>
            <span class="slds-hide">{rowValue}</span>
            <c-om-datatable-input
                if:true={isCheckbox}
                data-col={column.key}
                column={column}
                row={row}
                onchange={onInputChange}
                onenter={onInputEnter}
                ontabulation={onInputTab}
                onblur={onInputBlur}
                tab-index={tabIndex}
                disabled={_disabledCell}
                >
            </c-om-datatable-input>
            
        </template>

        <template if:false={showEdition}>
            <span onclick={emitRow} class={cellInnerClass} data-value={rowValue}>
                <template if:true={cellHasPrevIcon}>
                    <lightning-icon icon-name={cellAttributes.iconName} class="slds-var-m-right_xx-small" size="x-small"></lightning-icon>
                </template>
                <template if:true={isCheckbox}>
                    <span class="slds-hide">{rowValue}</span>
                    <lightning-input type="checkbox" checked={rowValue} disabled></lightning-input>
                </template>
                <template if:true={isPicklist}>
                    {picklistValue}
                </template>
                <template if:true={isHtml}>
                    <lightning-formatted-rich-text value={rowValue}></lightning-formatted-rich-text>
                </template>
                <template if:true={isDate}>
                    <template if:true={isCustomDatetimeFormat}>
                        <c-om-formatted-datetime row-value={rowValue} datetime-format={datetimeFormat}></c-om-formatted-datetime>
                    </template>
                    <template if:false={isCustomDatetimeFormat}>
                        <lightning-formatted-date-time
                            value={rowValue}
                            day='{typeAttributes.day}'
                            era='{typeAttributes.era}'
                            hour='{typeAttributes.hour}'
                            hour12='{typeAttributes.hour12}'
                            minute='{typeAttributes.minute}'
                            month='{typeAttributes.month}'
                            second='{typeAttributes.second}'
                            time-zone='{typeAttributes.timeZone}'
                            time-zone-name='{typeAttributes.timeZoneName}'
                            weekday='{typeAttributes.weekday}'
                            year='{typeAttributes.year}'>
                        </lightning-formatted-date-time>
                    </template>
                </template>

                <template if:true={isDatetime}>
                    <template if:true={isCustomDatetimeFormat}>
                        <c-om-formatted-datetime row-value={rowValue} datetime-format={datetimeFormat}></c-om-formatted-datetime>
                    </template>
                    <template if:false={isCustomDatetimeFormat}>
                        <lightning-formatted-date-time
                            value={rowValue}
                            day='{typeAttributes.day}'
                            era='{typeAttributes.era}'
                            hour='{typeAttributes.hour}'
                            hour12='{typeAttributes.hour12}'
                            minute='{typeAttributes.minute}'
                            month='{typeAttributes.month}'
                            second='{typeAttributes.second}'
                            time-zone='{typeAttributes.timeZone}'
                            time-zone-name='{typeAttributes.timeZoneName}'
                            weekday='{typeAttributes.weekday}'
                            year='{typeAttributes.year}'>
                        </lightning-formatted-date-time>
                    </template>
                </template>

                <template if:true={isNumber}>
                    <lightning-formatted-number
                        value={rowValue}
                        format-style={inputFormatter}
                        currency-code={typeAttributes.currencyCode}
                        currency-display-as={typeAttributes.currencyDisplayAs}
                        maximum-fraction-digits={typeAttributes.maximumFractionDigits}
                        minimum-integer-digits={typeAttributes.minimumIntegerDigits}
                        minimum-significant-digits={typeAttributes.minimumSignificantDigits}
                        >
                    </lightning-formatted-number>
                </template>

                <template if:true={isText}>
                    {rowValue}
                </template>

                <template if:true={isUrl}>
                    <a if:true={typeAttributes.href} onclick={fireRowAction} href={typeAttributes.href} target={typeAttributes.target}>
                        <template if:true={typeHasIcon}>
                            <lightning-icon icon-name={typeAttributes.iconName} variant={typeAttributes.variant} size="x-small"></lightning-icon>
                        </template>
                        <template if:false={typeHasIcon}>
                            {typeAttributes.label}
                        </template>   
                    </a>
                </template>

                <template if:true={isButton}>
                    <lightning-button
                        data-type="button"
                        onclick={fireRowAction}
                        variant={typeAttributes.variant}
                        icon-name={typeAttributes.iconName}
                        label={typeAttributes.label}>
                    </lightning-button>
                </template>

                <template if:true={isButtonIcon}>
                    <lightning-button-icon
                        alternative-text="Cell action"
                        onclick={fireRowAction}
                        variant={typeAttributes.variant}
                        icon-name={typeAttributes.iconName}>
                        <label>Cell action</label>
                    </lightning-button-icon>
                </template>

                <template if:true={isImage}>
                    <img decoding="async" src={typeAttributes.src} width={typeAttributes.width} height={typeAttributes.height} onclick={fireRowAction} style={typeAttributes.style} />
                </template>

                <template if:true={isSvg} >
                    <svg if:true={typeAttributes.src} onclick={fireRowAction} style={typeAttributes.style} width={typeAttributes.width} height={typeAttributes.height}>       
                        <image xlink:href={typeAttributes.src} src={typeAttributes.src}  width={typeAttributes.width} height={typeAttributes.height}></image>    
                    </svg>
                </template>

                <template if:true={isPhone}>
                    {rowValue}
                </template>

                <template if:true={isActions}>
                    <lightning-button-menu icon-size="x-small" alternative-text="Show menu" variant={typeAttributes.variant} icon-name={typeAttributes.iconName} menu-alignment="auto" data-source="actions" onselect={handleRowActions}>
                        <lightning-menu-item
                            for:each={row.actions}
                            for:item="rowAction"
                            key={rowAction.label}
                            disabled={rowAction.disabled}
                            data-event={rowAction.event}
                            label={rowAction.label}
                            value={rowAction.name}
                            icon-name={rowAction.iconName}>
                        </lightning-menu-item>
                    </lightning-button-menu>
                </template>

                <template if:true={noTypeDefined}>
                    {rowValue}
                </template>
                <!-- TODO Formatedd dates and datetimes -->
                <template if:true={cellHasPostIcon}>
                    <lightning-icon icon-name={cellAttributes.iconName} class="slds-var-m-left_xx-small" size="x-small"></lightning-icon>
                </template>
            </span>
        </template>
        
        <template if:false={exporting}>
            <template if:true={showEditionButton}>
                <template if:false={isCheckbox}>
                    <template if:false={_disabledCell}>
                        <button class="slds-button slds-button_icon slds-cell-edit__button slds-var-m-left_x-small" tabindex="-1" title="Edit column" onclick={startCellEditing}>
                            
                            <svg class="slds-button__icon slds-button__icon_hint slds-button__icon_edit" aria-hidden="true">
                                <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#edit"></use>
                            </svg>
                            <span class="slds-assistive-text">Edit column</span>
                        </button>
                    </template>
                    <template if:true={_disabledCell}>
                        <button class="slds-button slds-button_icon slds-cell-edit__button slds-var-m-left_x-small" tabindex="-1" title="Disable action">
                            <svg class="slds-button__icon slds-button__icon_hint slds-button__icon_lock" aria-hidden="true">
                                <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#lock"></use>
                            </svg>
                            <span class="slds-assistive-text">Disable row</span>
                        </button>
                    </template>
                </template>
            </template>
        </template>
    </span>
</template>