<template>
  <span>
    <div if:true={hasError}  class="slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_error" role="alert">
        <span class="slds-assistive-text">error</span>
        <h2>Error occurred:  {error} </h2>
      </div>
    <div class="chart slds-m-around_medium" style="position:relative" lwc:dom="manual"></div>
  </span>
</template>