<!--
  @File Name          : omCalendar.html
  @Description        : 
  @Author             : David López <sdlopez@omegacrmconsulting.com>
  @Group              : 
  @Last Modified By   : David López <sdlopez@omegacrmconsulting.com>
  @Last Modified On   : 07-09-2020
  @Modification Log   : 
  Ver       Date            Author      		    Modification
  1.0    9/6/2020   David López <sdlopez@omegacrmconsulting.com>     Initial Version
-->
<template>
  <div class="wrapper" style={dynamicHeight}>
    <!-- "data-changed" and "data-loaded" are only here to force re-renders when @api changes without being explicity here -->
    <div style="background:#ffffff;" class="content" data-changed={apiChanged} data-loaded={frameloaded}>
      <iframe if:true={vfDomain}
        class="iframeClass"
        width="100%"
        style={iframestyle}
        src={vfDomain}
        title="OM Calendar"
        onload={oniframeload}
      ></iframe> 
    </div>
  </div>
</template>