<template>
    <div if:true={showSpinner} >
        <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
    </div>
    <div if:false={showSpinner} >
        <div if:true={equiposConErrores}>
            <div style="font-weight: bold; text-align: center; font-size: 130%; width: 100%; margin-top: 2%;">Errores Equipos</div>
            <template for:each={erroresEquipos} for:item="errorEquipo" style="margin-top: 1%;">   
                <div key={errorEquipo} style="width: 100%;">
                    {errorEquipo}
                </div>  
            </template>
        </div>
        <div if:true={fungiblesConErrores} style="margin-top: 5%;">
            <div style="font-weight: bold; text-align: center; font-size: 130%; width: 100%; margin-top: 2%;">Errores fungibles</div>
    
            <template for:each={erroresFungibles} for:item="errorFungible" style="margin-top: 1%;">
                <div key={errorFungible} style="width: 100%;">
                    {errorFungible}
                </div>
            </template>        
        </div>
        <div if:true={procesoOK} >

           <div if:false={hayErrores}>
                <!-- INICIO/ALTA -->
                <div if:true={esInicio} >
                    <div if:true={errorInicio} >
                        <div style="font-weight: bold; text-align: center; font-size: 130%; width: 100%; margin-top: 2%;">Es necesaria la firma del consentimiento informado antes de la finalización de la visita de inicio.</div>
                    </div>
                    <div if:false={errorInicio} >
                        <div style="font-weight: bold; text-align: center; font-size: 130%; width: 100%; margin-top: 2%;">Las comprobaciones de stock han sido correctas. Pulse Finalizar si desea continuar con la acción.</div>
                        <div style="width: 100%; text-align: center; margin-top: 2%;">
                            <lightning-button variant="brand" label="Finalizar" title="Finalizar" onclick={finalizarVisita} class="slds-m-left_x-small"></lightning-button>
                            <lightning-button variant="brand" label="Cancelar" title="Cancelar" onclick={cancelar} class="slds-m-left_x-small"></lightning-button>                    
                        </div>
                    </div>
                </div>

                <!-- SEGUIMIENTO -->
                <div if:true={esSeguimiento} >
                    <div if:true={showFinalizarSinFirmar} >
                        <div style="font-weight: bold; text-align: center; font-size: 130%; width: 100%; margin-top: 2%;">¿Esta seguro de finalizar la visita sin realizar la firma de la visita antes?</div>
                        <lightning-input type="checkbox" name="Marque para finalizar la visita sin firmar" label="Marque para finalizar la visita sin firmar" onclick={handleClickFinalizarSinFirmar}></lightning-input>
                    </div>
                    <div if:false={showFinalizarSinFirmar} >
                        <div style="font-weight: bold; text-align: center; font-size: 130%; width: 100%; margin-top: 2%;">Las comprobaciones de stock han sido correctas. Pulse Finalizar si desea continuar con la acción.</div>
                    </div>
                    <div style="width: 100%; text-align: center; margin-top: 2%;">
                        <lightning-button variant="brand" label="Finalizar" title="Finalizar" onclick={finalizarVisita} class="slds-m-left_x-small"></lightning-button>
                        <lightning-button variant="brand" label="Cancelar" title="Cancelar" onclick={cancelar} class="slds-m-left_x-small"></lightning-button>                    
                    </div>
                </div>

                <!-- FIN/BAJA -->
                <div if:true={esFin} >
                    <div if:true={errorFin} >
                        <div style="font-weight: bold; text-align: center; font-size: 130%; width: 100%; margin-top: 2%;">Es necesaria la firma de la baja antes de la finalización de la visita de fin de tratamiento.</div>
                    </div>
                    <div if:false={errorFin} >
                        <div style="font-weight: bold; text-align: center; font-size: 130%; width: 100%; margin-top: 2%;">Las comprobaciones de stock han sido correctas. Pulse Finalizar si desea continuar con la acción.</div>
                        <div style="width: 100%; text-align: center; margin-top: 2%;">
                            <lightning-button variant="brand" label="Finalizar" title="Finalizar" onclick={finalizarVisita} class="slds-m-left_x-small"></lightning-button>
                            <lightning-button variant="brand" label="Cancelar" title="Cancelar" onclick={cancelar} class="slds-m-left_x-small"></lightning-button>                    
                        </div>
                    </div>

                    
                </div>
           </div> 
            



           



            <!-- <div if:true={showFinalizarSinFirmar} >
                <div style="font-weight: bold; text-align: center; font-size: 130%; width: 100%; margin-top: 2%;">Esta seguro de finalizar la visita sin realizar la firma de la visita antes.</div>
                <lightning-input type="checkbox" name="Marque para finalizar la visita sin firmar" label="Marque para finalizar la visita sin firmar" onclick={handleClickFinalizarSinFirmar}></lightning-input>
            </div>
            <div if:false={showFinalizarSinFirmar} >
                <div style="font-weight: bold; text-align: center; font-size: 130%; width: 100%; margin-top: 2%;">Las comprobaciones de stock han sido correctas. Pulse Finalizar si desea continuar con la acción.</div>
            </div> -->
            
            
    
        </div> 
        <!-- <div>

             

            <div style="font-weight: bold; text-align: center; font-size: 130%; width: 100%; margin-top: 2%;">PARTE OK:</div>
            <div style="font-weight: bold; text-align: center; font-size: 130%; width: 100%; margin-top: 2%;">Se va a proceder a finalizar la visita. Pulse el botón OK para confirmar la acción</div>
            <lightning-input type="checkbox" name="Marque para finalizar la visita sin firmar" onclick={handleClickFinalizarSinFirmar}></lightning-input>

            <div style="width: 100%; text-align: center;">
                <lightning-button variant="brand" label="Finalizar" title="Finalizar" onclick={finalizarVisita} class="slds-m-left_x-small"></lightning-button>
                <lightning-button variant="brand" label="Cancelar" title="Cancelar" onclick={cancelar} class="slds-m-left_x-small"></lightning-button>
            </div>
            
        </div> -->
    </div>
   
</template>